/*** Colors ***/
@blue: #0080ce;
@blue_bg: #dfeff7;
@border: #ebebeb;
@dark_gray: #282828;
@gray_f8: #f8f8f8;
@gray_05: #f1f2f2;
@gray_10: #e6e7e8;
@gray_20: #d1d3d4;
@gray_30: #bcbec0;
@gray_40: #a7a9ac;
@gray_60: #808285;
@gray_80: #58595b;
@gray_90: #414042;
@green: #2bb673;
@green_hover: #1e9b5c;
@orange: #f7941e;
@orange_bg: #f4e3d3;
@orange_hover: #e87400;
@purple: #a25cc6;
@purple_active: #7d3ca0;
@purple_bg: #FEF9FF;
@purple_bg_hover: #fefdff;
@purple_bg_active: #faf7fc;
@purple_disabled: #ceb3e5;
@purple_focus: #c08add;
@purple_gradient: #a464c6;
@purple_hover: #8c42ad;
@purple_text: #463c4c;
@red: #d9534f;
@red_disabled: #eba8a7;
@red_hover: #d2322d;



/*** General ***/

body {
  background: white;
  color: @purple_text;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

textarea {
  padding: 0;
  width: 728px;
}
@media (max-width:767px) {
  textarea { width: 100%; }
}

object { pointer-events: none; }

li { list-style: none; }

i { color: @gray_60; }

.img-container-left { float: left; }
.img-container-right { float: right; }
.svg-block { display: block; }

.bold { font-weight: bold; }
.gray { color: @gray_60; }

.scrollable { overflow: auto; }

.clickable { cursor: pointer; }

.link {
  color: @purple;
  cursor: pointer;
  &:hover {
    color: @purple_hover;
    text-decoration: underline;
  }
}
.danger-link {
  color: @red;
  cursor: pointer;
  &:hover {
    color: @red_hover;
    text-decoration: underline;
  }
}
.caret-link {
  float: left;
  margin-top: 7px;
}
.caret-text { margin-right: 6px; }
.caret-south {
  float: left;
  width: 0;
  height: 0;
  margin: 8px 0 0 4px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: @purple transparent transparent transparent;
}

*.unselectable {
  cursor: default;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: -moz-none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
      user-select: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
}

.text-divider {
  margin: 0 10px;
  color: @gray_40;
}

.fill-div .dropdown-title {
  float: left;
}

.left-inner-addon,
.right-inner-addon,
.left-right-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px;
}
.right-inner-addon input {
  padding-right: 30px;
}
.left-right-inner-addon input {
  padding-right: 30px;
  padding-left: 30px;
}
.left-inner-addon i,
.left-right-inner-addon i {
  position: absolute;
  left: 0px;
  padding: 7px 9px;
  pointer-events: none;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 7px 9px;
  pointer-events: none;
}

.overlay-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.overlay-list > li.unselectable {
  padding: 5px 15px;
  &:hover {
    background: none;
    cursor: default;
  }
}
.overlay-list > li:hover {
  background: @purple;
  cursor: pointer;
  a { color: white; }
}
.overlay-list > li > a {
  display: block;
  padding: 5px 15px;
  color: @purple_text;
}
.overlay-list > li + li {
  margin-left: 0;
}

/** Sign In **/

.sign-in {
  width: 400px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid @gray_20;
  border-radius: 6px;
}

.logo-container {
  text-align: center;
}

#sign-in-hero-mark {
  -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
         -animation-duration: 1.5s;
}

.hero-mark {
  width: 40px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  g path { fill: @gray_20; }
}

.sign-in-msg {
  color: @gray_60;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 24px;
}

.sign-in-btn {
  background: linear-gradient(@purple, @purple_hover);
  border: 1px solid @purple_active;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  height: 44px;
  outline: none;
  padding: 10px 20px 10px 15px;
  &:hover { background: linear-gradient(@purple_gradient, @purple_hover); }
  &:active { background: linear-gradient(@purple_active, @purple_hover); }
}

.google-g {
  float: left;
  width: 14px;
}

.btn-divider {
  float: left;
  width: 14px;
  height: 21px;
  margin-left: 2px;
  border-right: 1px solid rgba(255,255,255,0.3);
}

.sign-in-text {
  margin-left: 50px;
}

.sign-in-footer {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  text-align: center;
  font-size: 12px;
  color: @gray_60;
}

.copyright {
  margin-bottom: 7px;
  color: @gray_40;
}

.footer-link {
  color: @gray_60;
  &:hover {
    color: @gray_80;
    text-decoration: underline;
  }
}

.footer-divider {
  display: inline-block;
  width: 7px;
  height: 10px;
  margin-right: 7px;
  border-right: 1px solid @gray_10;
}


/** Settings **/

.settings-container {
  max-width: 900px;
  min-width: 620px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  padding: 16px 0;
  border-bottom: 1px solid @gray_20;
}
.header-logo {
  width: 24px;
  height: 30px;
}
.header-title {
  display: inline-block;
  margin: 2px 0 0 24px;
  font-size: 20px;
}
.header-signout {
  float: right;
  padding: 8px 0;
  color: @gray_40;
  &:hover { color: @red; }
}

.install {
  width: 580px;
  margin: 16px auto 0 auto;
  padding: 12px 12px 0 24px;
  background: @purple_bg;
  border: 1px solid @gray_10;
  border-radius: 3px;
  .chrome-logo-container {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .close {
    opacity: 0.5;
    &:hover { opacity: 1; }
  }
  .chrome-logo {
    width: 92px;
    height: 56px;
    margin: 6px 12px 0 0;
  }
  .install-h1, .install-h2 {
    display: inline-block;
    margin-top: 2px;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .install-h1 {
    color: @gray_60;
    font-size: 18px;
  }
  .install-h2 {
    color: @purple_text;
    font-size: 15px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    a:hover { text-decoration: underline; }
  }
}

.settings-section {
  margin-bottom: 60px;
  .settings-section-title {
    margin: 26px 0 0 0;
    padding-bottom: 10px;
    color: @gray_60;
    border-bottom: 1px solid @gray_10;
  }
}

@media (min-width:768px) {
  .profile { padding-right: 30px; }
  .team { padding-left: 30px; }
}

.profile-pic {
  float: left;
  width: 50px;
  height: 50px;
  background: @gray_10;
  border-radius: 100%;
}
.profile-name, .profile-email { margin-left: 64px; }
.profile-name {
  margin-top: 5px;
  font-size: 16px;
}
.toggle-advanced { margin: 12px 0 6px 64px; }
.profile-advanced {
  display: none;
  max-width: 240px;
  margin-left: 64px;
  padding: 8px;
  background: @gray_f8;
  border: 1px solid @gray_10;
  border-radius: 3px;
}

.team-row {
  padding: 16px 0;
  border-bottom: 1px solid @gray_10;
  .team-name { font-size: 16px; }
  .team-cog {
    margin-top: 14px;
    opacity: 0.8;
    &:hover { opacity: 1; }
  }
  .tooltip.team-status-tooltip { top: 80px; }
  .team-status {
    width: 20px;
    height: 16px;
    margin: 17px 14px 0 0;
  }
}

.esper-tab-links {
  margin: 0;
  padding: 26px 68px 0 68px;
  border-bottom: 1px solid @gray_30;
  li {
    float: left;
    list-style: none;
  }
  a {
    width: 148px;
    height: 34px;
    display: inline-block;
    margin: 0 0 -1px -1px;
    padding: 6px 7px;
    border-top: 1px solid @purple_disabled;
    border-right: 1px solid @purple_disabled;
    border-bottom: 1px solid @gray_30;
    border-left: 1px solid @purple_disabled;
    background: white;
    color: @purple;
    text-align: center;
    transition: all linear 0.15s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    .esper-tab-icon { opacity: 0.4; }
    &:hover .esper-tab-icon { opacity: 0.6; }
  }
  li.active a, li.active a:hover {
    color: @purple_text;
    border-top: 1px solid @gray_30;
    border-right: 1px solid @gray_30;
    border-bottom: none;
    border-left: 1px solid @gray_30;
    cursor: default;
    .esper-tab-icon { opacity: 1; }
  }
  li.active + li {
    a { border-left: 1px solid @gray_30; }
  }
  &:after {
    display:block;
    clear:both;
    content:'';
  }
}

.esper-tab-content {
  height: 400px;
  padding: 20px;
  .tab { display:none; }
  .tab.active { display:block; }
}

.esper-tab-header {
  padding: 5px 15px;
  background: @gray_f8;
  border-bottom: 1px solid #d8d8d8;
}

.exec-profile-name {
  float: left;
  margin-left: 14px;
  margin-right: 8px;
}
.exec-status {
  float: left;
  margin-top: 11px;
}
.assistants-title {
  margin-top: 20px;
  padding: 8px 16px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background: @purple;
  border: 1px solid @purple;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.assistants-list {
  height: 210px;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid @gray_10;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow-y: auto;
}
.assistant-row {
  padding: 10px 6px;
  border-bottom: 1px solid @gray_10;
}
.assistant-row-status { padding: 10px 12px; }
.assistant-row-actions {
  padding-top: 9px;
  text-align: right;
}
.invite-action {
  display: inline-block;
  &:hover a { text-decoration: underline; }
}
.invite-icon { margin: 2px 6px 0 0; }
.invite-options {
  display: none;
  margin-left: 26px;
  padding: 6px 0;
  background: white;
  border: 1px solid @gray_30;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.table-header {
  font-size: 16px;
  border-bottom: 1px solid @gray_20;
}
.label-row {
  padding: 10px 0;
  border-bottom: 1px solid @gray_10;
}
.sync-col { text-align: center; }


/** Spinner **/

.spinner {
  display: none;
  position: relative;
  background-color: @purple;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
          animation: scaleout 1.0s infinite ease-in-out;
}

.members-spinner {
  margin: 90px auto;
  width: 20px;
  height: 20px;
}
.labels-spinner {
  margin: 110px auto;
  width: 20px;
  height: 20px;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
