/*** Fonts ***/
@light: "Proxima Nova Light";
@regular: "Proxima Nova Regular";
@italic: "Proxima Nova Regular Italic";
@bold: "Proxima Nova Semibold";


/*** Colors ***/
@border: #cccccc;
@gray_f8: #f8f8f8;
@gray_05: #f1f2f2;
@gray_10: #e6e7e8;
@gray_20: #d1d3d4;
@gray_30: #bcbec0;
@gray_40: #a7a9ac;
@gray_60: #808285;
@gray_80: #58595b;
@gray_90: #414042;
@green: #2bb673;
@green_hover: #1e9b5c;
@orange: #f7941e;
@purple: #a25cc6;
@purple_active: #7d3ca0;
@purple_disabled: #e8d9ee;
@purple_focus: #c08add;
@purple_hover: #8c42ad;
@red: #d9534f;
@red_hover: #d2322d;
@white: #ffffff;

/*** Measurements ***/
@chat_width: 320px;


/*** General ***/

body,
html {
  height: 100%;
}

body {
  background: @white;
  color: @gray_90;
  font-family: @regular, Arial;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

object {
  pointer-events: none;
}

.container.mobile {
  padding-left: 15px;
  padding-right: 15px;
}

.scrollable {
  overflow: auto;
}

*.unselectable {
  cursor: default;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: -moz-none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
      user-select: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
}

.fill-div .dropdown-title {
  float: left;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 28px;
}
.left-inner-addon i {
    position: absolute;
    padding: 9px 10px;
    pointer-events: none;
}


/*** Nav Bar ***/

#desktop-navbar {
  position: fixed;
  height: 100%;
  width: 220px;
  background: @gray_90;
  overflow-y: auto;
}

#mobile-navbar-header,
#task-navbar {
  margin: 0;
  padding: 0;
  background: @white;
  border-bottom: 1px solid @border;
  border-radius: 0;
}

#new-task-btn-mobile,
#new-place-btn-mobile {
  float: right;
  margin-top: 14px;
  margin-right: 16px;
}

#menu,
#return-home {
  float: left;
  margin-left: 16px;
  margin-top: 23px;
  cursor: pointer;
}

#menu {
  &:hover g path { fill: @purple_hover; }
  &:active g path { fill: #7d3ca0; }
}

#return-home {
  &:hover path { fill: @purple_hover; }
  &:active path { fill: #7d3ca0; }
}

.nav-title {
  float: left;
  margin-top: 18px;
  margin-left: 16px;
  margin-bottom: 0px;
  font-size: 18px;
}

#home-title { letter-spacing: 3px; }

#task-title-div {
  margin-left: 56px;
  margin-right: 60px;
}

#task-title {
  width: 100%;
  margin-top: 14px;
  margin-bottom: 0px;
  font-size: 18px;
  border: 1px solid @white;
  &:hover { border: 1px solid @gray_20; }
  &:focus { border: 1px solid @purple; }
}

#mobile-navbar-collapse {
  background: @gray_90;
  box-shadow: 0 10px 10px @gray_60;
}

.nav-header {
  margin: 0;
  padding: 20px 15px;
  height: 80px;
  background: @purple;
  &:hover {
    background: @purple_hover;
    cursor: pointer;
  }
  #exec-circ-outline {
    float: left;
    padding: 2px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: @white;
  }
  #exec-circ {
    height: 36px;
    width: 36px;
    padding-top: 8px;
    border-radius: 18px;
    text-align: center;
    vertical-align: middle;
    color: @white;
    background: @gray_60;
  }
  #exec-name-div {
    display: inline-block;
    margin-left: 10px;
    padding-top: 4px;
    color: @white;
  }
  #assisting {
    font-size: 10px;
  }
  #exec-name {
    width: 125px;
    font-family: @bold;
    font-size: 14px;
  }
  #exec-caret {
    float: right;
    margin-top: 8px;
  }
}

.account-nav-open {
  .rotate(rotate_cw_180);
}

.account-nav-closed {
  .rotate(rotate_ccw_180);
}

.account-block {
  margin: 0;
  height: 60px;
  color: @gray_20;
  background: #282828 !important;
}

.nav-section-line {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 1px;
  background: #58595b;
}

.nav-section-title {
  position: relative;
  top: -0.5em;
  left: 7px;
  padding-left: 8px;
  padding-right: 8px;
  color: @white;
  background: @gray_90;
  font-family: @light;
  letter-spacing: 3px;
}

.nav-block {
  margin: 0;
  height: 60px;
  color: @gray_60;
  &:focus { color: @gray_60; }
}

.nav-text {
  display: inline-block;
  margin-top: 10px;
  margin-left: 14px;
}

.nav-active-team {
  cursor: default;
}

#settings-icon,
#logout-icon,
#search-icon,
#general-icon {
  float: left;
  margin: 10px 2px;
}

#dashboard-icon,
#scheduling-icon {
  float: left;
  margin: 10px 1px;
}

#all-tasks-icon {
  float: left;
  margin: 12px 1px;
}

#archive-icon,
#contacts-icon {
  float: left;
  margin-top: 10px;
}

#places-icon {
  float: left;
  margin: 10px 5px;
}

#settings-icon path,
#logout-icon g path,
#search-icon path,
#dashboard-icon path,
#dashboard-icon circle,
#all-tasks-icon path,
#scheduling-icon path,
#scheduling-icon text,
#general-icon path,
#general-icon circle,
#archive-icon path,
#contacts-icon path,
#places-icon path, { fill: @gray_60; }

.account-block:hover { background: #282828 !important; }

.account-block:hover {
  #settings-icon path,
  #logout-icon g path { fill: @white; }
}

.nav-block:hover {
  #search-icon path,
  #dashboard-icon path,
  #dashboard-icon circle,
  #all-tasks-icon path,
  #scheduling-icon path,
  #scheduling-icon text,
  #general-icon path,
  #general-icon circle,
  #archive-icon path,
  #contacts-icon path,
  #places-icon path, { fill: @white; }
}

.nav-pills > li.active > a {
  #settings-icon path,
  #logout-icon g path,
  #search-icon path,
  #dashboard-icon path,
  #dashboard-icon circle,
  #all-tasks-icon path,
  #scheduling-icon path,
  #scheduling-icon text,
  #general-icon path,
  #general-icon circle,
  #archive-icon path,
  #contacts-icon path,
  #places-icon path, { fill: @white; }
}

#task-navbar {
  z-index: 1020;
  position: fixed !important;
  height: 60px;
  left: 0;
  right: 0;
}

#chat-icon-container {
  float: right;
  width: 28px;
  height: 24px;
  margin-right: 16px;
  margin-top: 20px;
  cursor: pointer;
  &:hover #chat-icon path { fill: @purple_hover; }
}


/*** Table Structure ***/

.task,
.place-row,
.workflow-row,
.sched-step1-row,
.sched-step1-add-row,
.suggestion,
.sched-step3-row,
.place-row {
  padding: 10px;
  border-bottom: 1px solid @gray_10;
  &:hover { background: @gray_f8; }
}

.exec-row,
.email-row,
.account-row {
  padding: 15px 10px;
  border-bottom: 1px solid @gray_10;
  &:hover { background: @gray_f8; }
}

.sched-step1-row,
.sched-step1-add-row {
  min-height: 70px;
}

.sched-step3-row {
  min-height: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid @gray_10;
  &:hover { background: @gray_f8; }
}

.email-option {
  padding: 10px;
  border-bottom: 1px solid @gray_10;
}

.task-list,
#user-profile,
#executives,
#email-addresses,
#linked-accounts,
#scheduling-pref,
#places,
#workflow-options,
#guest-list-container,
#sched-step2-suggestions,
#sched-availability-message-readonly,
.guests-container.guests-only,
.options-container {
  border-top: 1px solid @gray_10;
}

.task-list,
#places {
  margin-top: 20px;
}

#user-profile,
#executives,
#email-addresses,
#linked-accounts,
#scheduling-pref,
#workflow-options,
#sched-step2-suggestions {
  margin-top: 15px;
}

.check-all,
.workflow-radio,
.suggestion-checkbox,
.suggestion-radio {
  float: left;
  width: 24px;
  height: 24px;
}

.workflow-radio {
  margin-top: 12px;
}

.suggestion-checkbox {
  margin-top: 30px;
}

.suggestion-radio {
  margin-top: 16px;
}

.suggestion-edit-div {
  float: right;
  margin-top: 30px;
  width: 24px;
  height: 24px;
}

/*** Home ***/

.home-container {
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 120px;
}

#home-push {
  height: 55px;
}

.navbar-open {
  margin-left: 220px;
}

.page-title {
  font-size: 32px;
  float: left;
  margin-right: 20px;
  font-family: @light;
  letter-spacing: 6px;
}

.list-search {
  float: right;
  width: 240px;
  margin-top: 20px;
  &:hover .search-tasks-icon g { fill: @gray_40; }
  &:active .search-tasks-icon g { fill: @gray_60; }
}

.search-tasks-icon {
  display: block;
  width: 14px;
  height: 14px;
}

.search-tasks-icon g { fill: @gray_20; }

.new-task-btn,
#new-place-btn {
  float: right;
  margin-top: 20px;
}

.list-tabs > li > a {
  font-size: 14px;
  padding: 0;
  margin-right: 20px;
}

.desktop-nav-tabs > li > a {
  margin-top: 33px;
}

.mobile-nav-tabs > li > a {
  margin-top: 5px;
}

.nav-tabs-centered {
  text-align: center;
}

.nav-tabs-centered.mobile-nav-tabs > li {
  float: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  & > a { margin-right: 0; }
}

.task {
  padding: 20px 10px;
  border-bottom: 1px solid;
  border-bottom-color: @gray_10;
  &:hover {
    background: @gray_f8;
    .archive path { fill: @gray_20; }
  }
}

.task-details.manual {
  margin-left: 20px; /* enable when dragging is ready */
}

.task-details.mobile {
  margin-right: 20px;
}

.task-drag-div,
.guest-drag-div {
  float: left;
  margin-right: 16px;
  &:hover {
    cursor: move;
    .drag g circle { fill: @gray_40; }
  }
}

.guest-drag-div {
  margin-top: 13px;
}

.archive-div {
  display: none;
  float: right;
  width: 12px;
  height: 12px;
  margin-top: 5px;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
    .archive path { fill: @red; }
  }
}

.archive {
  display: block;
  path { fill: @white; }
}

.archive-div.mobile {
  .archive-div { margin-left: 10px; }
  .archive path { fill: @gray_20; }
  &:hover {
    cursor: pointer;
    .archive path { fill: @red; }
  }
}

.restore-div {
  display: none;
  float: right;
}

#general-tasks-tab-content    .archive-div,
#scheduling-tasks-tab-content .archive-div {
  display: inline;
}

#archive-tasks-tab-content .restore-div {
  display: inline;
}

.updated {
  width: 10px;
  height: 10px;
  background: @orange;
  border-radius: 5px;
}

.updated.updated-task {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

.updated.updated-nav {
  float: right;
  margin-top: 15px;
}

.new-label {
  padding: 1px 4px;
  padding-bottom: 0;
  font-family: @bold;
  font-size: 12px;
  color: @white;
  background: @orange;
  border-radius: 3px;
}

.new-label.new-label-task {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}

.new-label.new-label-nav {
  float: right;
  margin-top: 10px;
}

.task-title {
  display: block;
  font-family: @bold;
}

.task-status,
.task-date {
  margin-top: 3px;
  color: @gray_60;
  font-size: 14px;
}

.verb { font-family: @bold; }

.task-exec,
.task-guest {
  width: 100px;
  text-align: center;
}

.task-exec.mobile,
.task-guest.mobile {
  width: 40px;
  .task-exec-circ,
  .task-guest-circ { margin-left: 0; }
}

.task-exec { float: left; }
.task-guest { display: inline-block; }

.task-exec-circ-line,
.task-guest-circ-line {
  width: 100%;
}

.task-exec-circ,
.task-guest-circ {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  padding-top: 8px;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  font-family: @light;
  font-size: 18px;
  color: @white;
  background: @gray_60;
}

.task-exec-name,
.task-guest-name {
  display: block;
  margin-top: 6px;
  font-family: @bold;
  font-size: 12px;
}

.with-div {
  float: left;
  margin: 11px;
}


/*** Footers ***/

.new-task-footer,
.sched-footer {
  position: fixed !important;
  height: 80px;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 0;
  background: @white;
  border-top: 1px solid @gray_20;
  border-bottom: none;
  border-radius: 0;
}

.new-task-footer {
  padding-top: 20px;
}

.new-task-footer,
.sched-footer {
  right: 0;
  border-right: none;
}

#start-task {
  font-family: @light;
  font-size: 20px;
  letter-spacing: 3px;
  width: 240px;
  height: 40px;
}

.footer-inner {
  margin-top: 22px;
  margin-right: 15px;
  margin-left: 15px;
}

.footer-nav {
  width: 120px;
}

.back-button,
.next-button {
  height: 36px;
}

.back-button {
  float: left;
}

.back-arrow-disabled path {
  fill: #bcbec0;
}

.next-button {
  float: right;
}

.sched-progress {
  padding: 0;
  text-align: center;
}

@media (min-width: 620px) {
  .footer-toggle {
    display: none;
  }
  .footer-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .footer-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .footer-collapse.in {
    overflow-y: auto;
  }
  .footer-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -15px;
  }
  .footer-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .footer-collapse .navbar-text:last-child {
    margin-right: 0;
  }
}

.sched-go-step1,
.sched-go-step2,
.sched-go-step3,
.sched-go-step4 {
  width: 116px;
  height: 30px;
  margin-top: 3px;
  padding: 0;
  border: none;
  background-color: transparent;
  cusor: pointer;
  &:hover path { fill: @gray_20; }
  &:disabled {
    path { fill: @gray_05; }
    text { fill: @gray_20; }
  }
}

.sched-go-step2,
.sched-go-step3,
.sched-go-step4 {
  margin-left: -8px;
}

.sched-progress-step1 .sched-go-step1,
.sched-progress-step2 .sched-go-step2,
.sched-progress-step3 .sched-go-step3,
.sched-progress-step4 .sched-go-step4 {
  cursor: default;
  path { fill: @gray_60; }
  text { fill: @white; }
}


/*** Container ***/

.task-container {
  max-width: 742px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px;
}


/*** Modal ***/

.modal-close-circ {
  position: absolute;
  z-index: 10000;
  margin-left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: @gray_10;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  &:hover {
    background: @gray_20;
    cursor: pointer;
  }
}

.modal-close-x {
  margin-top: 6px;
  margin-left: 6px;
  height: 12px;
  width: 12px;
}

.modal-content {
  margin-top: 12px;
}

.modal-first-section-title {
  margin-top: 0px;
  font-family: @bold;
}

.to-label {
  float: left;
  margin-top: 2px;
}

.modal-section-title {
  padding-top: 15px;
  font-family: @bold;
}

#sched-availability-message,
#sched-confirm-message,
#sched-reminder-message {
  resize: none;
}

#sched-availability-to-list,
#sched-confirm-to-list,
#sched-reminder-to-list {
  display: inline-block;
  margin-left: 16px;
}

.sched-availability-to,
.sched-confirm-to,
.sched-reminder-to,
#footer-option {
  cursor: pointer;
  &:hover path.checkbox { stroke: @gray_40; }
}

.recipient-checkbox-div,
.footer-checkbox-div {
  float: left;
  margin-top: 1px;
  margin-right: 7px;
}

.recipient-checkbox,
.footer-checkbox { display: block; }

.recipient-name,
.footer-option { display: inline-block; }

#footer-option {
  margin-top: 25px;
  margin-bottom: 10px;
}


/*** Login ***/

#login-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 402px;
}

.desktop-login { margin-top: 160px; }
.mobile-login { margin-top: 80px; }

.esper-title {
  margin-bottom: 40px;
  font-family: @light;
  letter-spacing: 12px;
  text-align: center;
  color: @gray_60;
}

.text-field-label,
#forgot-password {
  padding-top: 20px;
  font-size: 14px;
}

#forgot-password {
  float: right;
}

.login-btn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-family: @light;
  font-size: 20px;
  letter-spacing: 3px;
}

.login-error {
  -webkit-animation: login_error 1s;
     -moz-animation: login_error 1s;
          animation: login_error 1s;
}


/*** Settings ***/

.settings-title {
  letter-spacing: 3px;
  color: @gray_60;
}

#profile-title {
  margin-top: 20px;
}

#executives-title,
#linked-accounts-title,
#scheduling-pref-title {
  margin-top: 60px;
}

#prof-pic {
  width: 100%;
  height: 60px;
  margin-top: 17px;
}

.settings-prof-circ,
.add-exec-circ {
  float: left;
  height: 54px;
  width: 54px;
  border-radius: 27px;
  text-align: center;
}

.settings-prof-circ {
  padding-top: 5px;
  vertical-align: middle;
  font-family: @light;
  font-size: 32px;
  color: @white;
  background-color: @gray_60;
}

#upload-photo {
  margin-top: 14px;
  margin-left: 18px;
}

@media(max-width:992px) {
  #left-col,
  #right-col { padding: 10px; }
}


#update-account {
  float: right;
  margin-right: 10px;
}

.not-connected circle {
  fill: @gray_05;
}

.linked-account-details,
.exec-details,
.add-exec-details {
  display: block;
  margin-top: 4px;
  margin-left: 72px;
}

.linked-account-details {
  margin-right: 100px;
}

.exec-details {
  margin-right: 30px;
}

.linked-account-name,
.exec-name {
  font-family: @bold;
  font-size: 18px;
}

.linked-account-status-text,
.exec-email {
  font-size: 14px;
  color: @gray_60;
}

.add-exec-text {
  margin-top: 16px;
  font-family: @italic;
  font-size: 16px;
  color: @gray_60;
}

#google,
#linkedin {
  float: left;
}

.connect-btn {
  float: right;
  display: inline-block;
  margin-top: 10px;
}

.add-exec-circ {
  background: @purple;
  cursor: pointer;
  &:hover { background: @purple_hover; }
}

.add-exec-circ.disabled {
  background: @purple_disabled;
  cursor: default;
}

.exec-settings-div {
  float: right;
  width: 24px;
  height: 24px;
  margin-top: 15px;
  cursor: pointer;
}

.exec-settings {
  width: 24px;
  height: 24px;
  path { fill: @gray_20; }
  &:hover path { fill: @gray_30; }
}

#plus-exec {
  width: 26px;
  height: 26px;
  margin-top: 14px;
}


/*** Places ***/

#places {
  margin-top: 10px;
  border-top: 1px solid @gray_10;
}

.place-details { padding-left: 0; }

.place-name {
  font-family: @bold;
  font-size: 18px;
  color: @purple;
  &:hover {
    color: @purple_hover;
    cursor: pointer;
  }
}

.place-loc,
.good-for-text {
  font-size: 14px;
  color: @gray_60;
}

.stats {
  margin-top: 4px;
  padding: 0;
  line-height: 1.25;
}

.stat-div { width: 100%; }

.stat {
  float: left;
  font-size: 32px;
}

.stat-text {
  font-size: 14px;
  color: @gray_60;
}

.last-visit,
.visits {
  padding-left: 0;
}

.time-ago-text {
  display: inline-block;
  margin-left: 8px;
  padding-top: 8px;
  font-size: 10px;
  color: @gray_60;
}

.place-actions { padding: 0;}

.place-actions.desktop { margin-top: 18px; }

.place-action {
  float: right;
  width: 32px;
  height: 32px;
  padding: 0;
}

.place-edit-div,
.directions-div {
  margin-left: 18px;
  margin-bottom: 18px;
}

.place-edit,
.directions,
.yelp {
  display: block;
}

.place-edit {
  width: 30px;
  height: 30px;
  padding-top: 1px;
  g { fill: @gray_20; }
  &:hover g { fill: @purple; }
}

.directions {
  path { fill: @gray_20; }
  &:hover path { fill: @green; }
}

.yelp {
  circle,
  g path { fill: @gray_20; }
  &:hover {
    circle,
    g path { fill: #c01001; }
  }
}

#google-map-modal-body {
  height: 400px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}


/*** New Task ***/

#new-task-title {
  color: @gray_60;
  &:focus { color: @gray_90; }
}

#categorize {
  margin-top: 40px;
}

.workflow-row {
  cursor: pointer;
  &:hover {
    path.radio-outline { fill: @gray_40; }
  }
}

#sched-workflow-icon {
  float: left;
  margin-top: 2px;
}

#gen-workflow-icon {
  float: left;
  margin-top: 3px;
  margin-left: 1px;
}

#sched-workflow-text,
#gen-workflow-text {
  display: inline-block;
  font-family: @bold;
  font-size: 20px;
}

#sched-workflow-text {
  margin-left: 10px;
}

#gen-workflow-text {
  margin-left: 11px;
}

.workflow-details {
  display: block;
  margin-left: 42px;
}


/*** Chat ***/

#task-page { height: 100%; }

#chat {
  position: fixed;
  width: @chat_width;
  top: 48px;
  left: 100%;
  margin-left: -@chat_width;
}

#chat.premiere {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
          animation-delay: 1s;
}

#chat.fadeOutDown {
  z-index: -1;
}

#chat.fadeInUp {
  z-index: 1030;
}

#chat-caret {
  position: fixed;
  display: block;
  margin-left: @chat_width - 38px;
}

#chat-container {
  margin-top: 7px;
  text-align: left;
  white-space: normal;
  background-color: @white;
  border: 1px solid @border;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

#chat-header {
  z-index: 1030;
  padding-left: 9px;
  background: @gray_f8;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid @border;
}

.chat-profile-tabs {
  height: 54px;
}

.chat-prof-circ {
  padding-top: 5px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  background: @gray_10;
}

.group {
  margin-top: 4px;
}

.prof-caret {
  display: block;
  margin-top: 7px;
  margin-left: 9px;
}

.tab-name {
  padding-top: 12px !important;
  padding-right: 9px !important;
  padding-bottom: 0 !important;
  padding-left: 9px !important;
  color: @gray_90;
  &:hover { color: @gray_90;
    .chat-prof-circ { background: @gray_20; }
  }
}

.chat-tabs > li {
  float: left;
}

.chat-tabs > li > a:hover {
  background: none;
}

.chat-tabs > li > a .prof-caret path,
.chat-tabs > li > a:hover .prof-caret path {
  fill: none;
  stroke: none;
}

.chat-tabs > li.active > a,
.chat-tabs > li.active > a:hover,
.chat-tabs > li.active > a:focus {
  cursor: default;
  background: none;
  border: none;
}

.chat-tabs > li.active > a .prof-caret path,
.chat-tabs > li.active > a:hover .prof-caret path,
.chat-tabs > li.active > a:focus .prof-caret path {
  fill: @white;
  stroke: @gray_20;
}

.chat-tabs > li.active > a .chat-prof-circ,
.chat-tabs > li.active > a:hover .chat-prof-circ,
.chat-tabs > li.active > a:focus .chat-prof-circ {
  color: @white;
  background: @gray_60;
}

.chat-tabs > li.active > a .group g,
.chat-tabs > li.active > a:hover .group g,
.chat-tabs > li.active > a:focus .group g {
  fill: @white;
}

.chat-profile-details {
  z-index: 1030;
  height: 40px;
  padding-top: 10px;
  padding-left: 15px;
  font-family: @bold;
  background: @white;
  border-bottom: 1px solid @gray_20;
}

.messages {
  height: 300px;
  padding: 15px;
}

.messages.group-chat { height: 270px; }

.blank-chat {
  padding-top: 80px;
  text-align: center;
  color: @gray_40;
}

.blank-chat-icon {
  display: block;
  margin-left: 130px;
  margin-bottom: 10px;
  path { fill: @gray_20; }
}

.message-header {
  margin-bottom: 10px;
}

.from-name-div {
  padding-left: 0;
}

.from-name {
  font-family: @bold;
  font-size: 12px;
  color: @gray_60;
}

.timestamp-div {
  padding-right: 0;
}

#global-status {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: 100%;
  color: @white;
  background: @red;
  border: none;
  border-radius: 0;
  z-index:100;
  &:hover { background: @red_hover; }
}

.close-status {
  color: @white;
}

.message-status,
.timestamp {
  float: right;
  font-size: 12px;
  color: @gray_60;
}

.message {
  font-size: 14px;
}

.chat-footer {
  max-height: 160px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  background: @gray_f8;
  border-top: 1px solid @gray_20;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.to-field {
  height: 30px;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: @white;
  background: @orange;
}

.chat-entry {
  min-height: 60px;
  overflow: hidden;
}

.chat-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.option-list {
  padding-left: 28px;
  padding-right: 20px;
  list-style: none;
}

.option {
  margin-top: 10px;
}

.option-radio {
  margin-top: 7px;
  margin-left: -28px;
  height: 18px;
  width: 18px;
  background: @white;
  border-radius: 9px;
  border: 1px solid @gray_20;
  float: left;
}

.option-delete {
  float: right;
  margin-top: -23px;
  margin-right: -20px;
  &:hover { cursor: pointer;
    path { fill: @gray_40; }
  }
}

.add-option-radio {
  border: 1px solid @gray_10;
}

.add-option-btn {
  height: 32px;
  width: 100%;
  padding-top: 3px;
  padding-left: 12px;
  text-align: left;
  font-size: 14px;
  color: @gray_10;
  border: 1px solid @gray_10;
  background: @white;
  border-radius: 3px;
  &:hover {
    color: @gray_60;
    border: 1px solid @gray_20;
    cursor: pointer;
  }
}

.offer-choices {
  padding-left: 0;
  &:hover { cursor: pointer;
    path.checkbox { stroke: @gray_40; }
  }
}

.offer-choices-checkbox {
  float: left;
  margin-top: 5px;
  height: 18px;
  width: 18px;
}

.offer-choices-label {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

.chat-send {
  padding-right: 0;
}

.chat-send-btn {
  float: right;
}


/*** Scheduling Step 1 ***/

#guest-list-container {
  margin-top: 30px;
}

.list-prof-circ,
.add-guest-circ {
  float: left;
  margin-top: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  text-align: center;
}

.list-prof-circ {
  background: @gray_60;
}

.initials {
  padding: 8px;
  color: @white;
  font-size: 18px;
}

.guest-name {
  margin-top: 14px;
  margin-left: 58px;
  font-family: @bold;
}

.add-guest-circ {
  background: @purple;
  &:hover {
    background: @purple_hover;
    cursor: pointer;
  }
}

.add-guest-disabled,
.add-guest-disabled:hover {
  background: @purple_disabled !important;
  cursor: default;
}

#plus-guest {
  margin-top: 10px;
}

.cancel {
  background: @red !important;
  .rotate(rotate_ccw_45);
  &:hover {
    background: @red_hover !important;
    cursor: pointer;
  }
}

.return-to-add {
  background: @purple;
  .rotate(rotate_cw_45);
}

#add-guest-text {
  float: left;
  margin-top: 14px;
  margin-left: 18px;
  cursor: pointer;
}

#max-guests-text {
  float: left;
  margin-top: 14px;
  margin-left: 18px;
  font-family: @italic;
  color: @gray_60;
}

#guest-input-div {
  margin-left: 60px;
  padding-top: 10px;
  max-width: 360px;
}

.guest-input {
  margin-bottom: 10px;
}

#add-guest-btn {
  margin-bottom: 5px;
}

.remove-guest-div {
  float: right;
  margin-top: -50px;
  &:hover {
    cursor: pointer;
    .remove-guest path { fill: @red; }
  }
}

.remove-guest { display: block; }

.remove-guest path { fill: @gray_20; }


/*** Scheduling Step 2 ***/

#manual-entry {
  cursor: pointer;
}

.top-divider {
  margin-bottom: 0;
}

.fill-div {
  width: 100%;
  height: 32px;
  text-align: left;
  .caret {
    float: right;
    margin-top: 8px;
    border-top: 4px solid @gray_90;
  }
}

.pref-time-title,
.location-title {
  padding-top: 10px;
  font-family: @bold;
  font-size: 14px;
}

#starting, #dur-hour, #dur-minute, #buffer-minute {
  width: 3em;
  text-align: right;
}

#sched-step2-google-map {
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}


/*** Scheduling Step 2/3 ***/

.suggestion {
  cursor: pointer;
  &:hover {
    background: @gray_f8;
    path.checkbox {stroke: @gray_40; }
    path.radio-outline { fill: @gray_40; }
  }
}

@media(min-width:768px){
  .suggestion:hover .suggestion-edit {
    g path { fill: @purple; }
    &:hover g path { fill: @purple_hover; }
  }
}

@media(max-width:767px){
  .suggestion-edit {
    g path { fill: @purple; }
    &:hover g path { fill: @purple_hover; }
  }
}

.checkbox-selected {
  path.checkbox { fill: @purple_disabled; }
  path.checkbox { stroke: @purple; }
  path.check { fill: @gray_90; }
  &:hover path.checkbox { stroke: @purple_hover !important }
}

.radio-selected {
  path.radio-background { fill: @purple_disabled; }
  path.radio-outline { fill: @purple; }
  circle { fill: @gray_90; }
  &:hover path.radio-outline { fill: @purple_hover; }
}

.sug-details {
  display: block;
  margin-left: 42px;
  margin-right: 30px;
}

.day-text {
  font-family: @bold;
  font-size: 14px;
}

.date-text {
  font-family: @light;
  font-size: 18px;
}

.time-text,
.time-text-short,
.loc-text {
  font-size: 14px;
}

.pin {
  margin-right: 6px;
}

.tbd {
  font-family: @italic;
}


/*** Scheduling Step 3 ***/

.guest-prefs-title {
  margin-top: 40px;
  font-family: @light;
  font-size: 18px;
}

.guest-prefs-header {
  margin-bottom: 15px;
}

.option-letter-block {
  padding: 0;
}

.option-letter {
  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: @gray_40;
  font-size: 20px;
  border: 1px solid @gray_40;
  border-radius: 4px;
}

.option-letter-modal {
  float: left;
  margin-top: 12px;
  margin-right: 0;
  margin-left: 0;
}

.option-letter.recommended {
  color: @green;
  border-color: @green;
}

.option-score {
  margin-top: 5px;
  text-align: center;
  font-family: @bold;
  font-size: 14px;
  color: @gray_60;
}

.option-score.recommended {
  color: @green;
}

.pref-prof-circ { margin-top: 8px; }

.pref-prof-circ.mobile { margin-top: 0; }

.pref-guest-name {
  margin-top: 4px;
  margin-left: 58px;
  font-family: @bold;
}

.required {
  margin-left: 58px;
  padding-left: 0;
  cursor: pointer;
  &:hover path.checkbox { stroke: @gray_40; }
}

.required.mobile {
  margin-top: 50px;
  margin-left: 0;
}

.required-checkbox {
  float: left;
  margin-top: 5px;
  margin-right: 7px;
  height: 18px;
  width: 18px;
}

.required-label {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

.pref-guest-response {
  margin-top: 3px;
  text-align: center;
  font-family: @light;
  font-size: 36px;
  cursor: default;
}

.pref-guest-response.first { color: @green; }
.pref-guest-response.second { color: @gray_20; }
.pref-guest-response.third { color: @gray_10; }

.pref-guest-actions { text-align: center; }

.guest-actions-divider {
  margin-top: 7px;
  margin-bottom: 7px;
}

.pref-request,
.pref-answer {
  font-size: 14px;
  color: @purple;
  cursor: pointer;
  &:hover { color: @purple_hover; }
}


/*** Scheduling Step 4 ***/

.final-sched-div {
  margin-bottom: 40px;
}

.check {
  float: left;
  margin-top: 4px;
}

.checked path {
  fill: @green;
}

.final-sched-action {
  font-size: 24px;
  cursor: pointer;
}

.final-sched-text {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  float: left;
  line-height: 1.42857;
}


/*** Animations ***/

.fadeIn,
.fadeOut {
  -webkit-animation-duration: 0.25s;
     -moz-animation-duration: 0.25s;
          animation-duration: 0.25s;
}

@-moz-keyframes login_error {
  0% { border-color: @red; }
  100% { border-color: default }
}
@-webkit-keyframes login_error {
  0% { border-color: @red; }
  100% { border-color: default }
}
@keyframes login_error {
  0% { border-color: @red; }
  100% { border-color: default }
}

.rotate (@rotation) {
  -webkit-animation: @rotation 0.25s;
     -moz-animation: @rotation 0.25s;
          animation: @rotation 0.25s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-moz-keyframes rotate_ccw_180 {
  from { -moz-transform: rotate(180deg); }
  to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes rotate_ccw_180 {
  from { -webkit-transform: rotate(180deg); }
  to { -webkit-transform: rotate(0deg); }
}
@keyframes rotate_ccw_180 {
  from {transform:rotate(180deg);}
  to {transform:rotate(0deg);}
}

@-moz-keyframes rotate_cw_180 {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(180deg); }
}
@-webkit-keyframes rotate_cw_180 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(180deg); }
}
@keyframes rotate_cw_180 {
  from {transform:rotate(0deg);}
  to {transform:rotate(180deg);}
}

@-moz-keyframes rotate_ccw_45 {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(-45deg); }
}
@-webkit-keyframes rotate_ccw_45 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(-45deg); }
}
@keyframes rotate_ccw_45 {
  from {transform:rotate(0deg);}
  to {transform:rotate(-45deg);}
}

@-moz-keyframes rotate_cw_45 {
  from { -moz-transform: rotate(-45deg); }
  to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes rotate_cw_45 {
  from { -webkit-transform: rotate(-45deg); }
  to { -webkit-transform: rotate(0deg); }
}
@keyframes rotate_cw_45 {
  from {transform:rotate(-45deg);}
  to {transform:rotate(0deg);}
}
