/*
  Colors:

  Purple        #a25cc6
  Light Purple  #e8d9ee
  Dark Purple   #8c42ad
  Red           #e53030
  Dark Red      #bf2121
  Orange        #f7941e
  Green         #2bb673
  Light Gray    #a7a9ac
  Med Gray      #808285
  Dark Gray     #414042


  Fonts:

  Proxima Nova Light
  Proxima Nova Regular
  Proxima Nova Semibold

*/

body {
  margin-top: 100px; /* room for navigation bar */
  background-color: white;
  color: #414042;
  font-family: "Proxima Nova Regular", Arial;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

object {
  pointer-events: none;

/*.chat-container {
  z-index: -1;
  float: right;
  display: block;
  height: 600px;
  width: 280px;
  background-color: #414042;
}*/

/*** Old stuff ***/

/*
  CSS doesn't provide a sane way of centering a block in the window, so we do
  the following.
*/
.login-form {
  margin-top: 200px;
}

.queue-tab-area {
  margin-top: 1em;
  margin-bottom: 2em;
}

.task {
  background: none;
  border-bottom: 1px solid;
  border-bottom-color: #e6e7e8;
  padding: 0.7em;
}

.request {
  background-color: #dfdedd;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}

.comments {
  background-color: #d6d6d6;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 0.3em;
}

.comment {
  background-color: #dfdfdf;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0.2em;
}

.author {
  font-style: italic;
}

.tasktitle {
}

.rightbox {
  float: right;
}

.requesttitle {
}

.unasked {
  font-style: italic;
}

.choices {
  margin-top: 0.2em;
}

.choices-readonly {
  margin-top: 0.2em;
  color: #808080;
}

.choice {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 1em;
}

.choice-label {
  display: inline;
  margin-left: 0.1em;
}

.answer {
  font-weight: bold;
  margin-left: 1em;
}

.unanswered {
  font-style: italic;
  margin-left: 1em;
}

.buttons > * {
  vertical-align: top;
  margin: 0.05em;
}


/*** Nav Bar ***/

#navbar {
  background: rgba(248,248,248,0.9);
  border-bottom: 1px solid #d1d3d4;
}

/* chat container open...

.navbar-fixed-top,
.navbar-fixed-bottom {
  right: 280px;
}*/

.menu {
  float: left;
  margin-left: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.menu:hover g {
  fill: #8c42ad;
}

.tasks-title {
  letter-spacing: 3px;
}

.account {
  margin-top: 9px;
  margin-right: 9px;
}

#logged-in-email {
  color: #414042;
}


/*** Footers ***/

.new-task-footer,
.sched-footer {
  height: 80px;
  background: rgba(248,248,248,0.9);
  border-top: 1px solid #d1d3d4;
}

.new-task-footer {
  padding-top: 20px;
}

#start-task {
  font-family: "Proxima Nova Light";
  font-size: 20px;
  letter-spacing: 3px;
  width: 240px;
  height: 40px;
}

.footer-inner {
  margin-top: 22px;
  margin-right: 15px;
  margin-left: 15px;
}

.back-button,
.next-button {
  height: 36px;
}

.back-arrow:disabled {
  fill: #bcbec0;
}

#progress-bar {
  width: 500px;
  padding-top: 3px;
}

.sched-step2,
.sched-step3,
.sched-step4 {
  width: 106px;
  margin-left: -8px;
}

.sched-progress-step1 .sched-step2 {
  cursor: default;
}

.sched-step2:hover .progress-test {
  fill: white;
}

.sched-step2 text {
  font-family: "Proxima Nova Regular";
}


/*** Container ***/

.container {
  max-width: 500px;
}

.push {
  height: 120px;
}


/*** Modal ***/

.modal-close-circ {
  position: absolute;
  z-index: 10000;
  margin-left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #e6e7e8;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-close-circ:hover {
  background-color: #d1d3d4;
  cursor: pointer;
}

.modal-close-x {
  padding-top: 4px;
  padding-left: 6px;
}

.modal-content {
  margin-top: 12px;
}

.modal-first-section-title {
  margin-top: 0px;
  font-family: "Proxima Nova Semibold";
}

.modal-section-title {
  padding-top: 15px;
  font-family: "Proxima Nova Semibold";
}


/*** New Task ***/

#new-task-title {
  color: #808285;
}

#new-task-title:focus {
  color: #414042;
}

#categorize {
  margin-top: 40px;
}


/*** Scheduling ***/

.sched-tab {
  display: inline-block;
  color: #a7a9ac; /* Light Gray */
  border-bottom: 1px solid #a7a9ac; /* Light Gray */
  padding-bottom: 1em;
  padding-top: 1em;
}

.sched-tab-filler {
  width: 4em;
}

.sched-tab-highlight {
  color: black;
  border-bottom: 1px solid #8c42ad; /* Purple */
}

.suggestion {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e7e8;
  cursor: pointer;
}

.esper-checkbox {
  float: left;
  margin-top: 16px;
  width: 24px;
  height: 24px;
}

.suggestion:hover path.check-outline {
  fill: #a7a9ac;
}

.esper-checkbox-selected path.check-background {
  fill: #e8d9ee;
}

.esper-checkbox-selected path.check-outline {
  fill: #a25cc6;
}

.esper-checkbox-selected path.check {
  fill: #414042;
}

.esper-checkbox-selected:hover path.check-outline {
  fill: #8c42ad;
}

.options-container {
  border-top: 1px solid #e6e7e8;
}

.esper-radio {
  float: left;
  margin-top: 16px;
  width: 24px;
  height: 24px;
}

.esper-radio-selected path.dot-background {
  fill: #e8d9ee;
}

.esper-radio-selected path.dot-outline {
  fill: #a25cc6;
}

.esper-radio-selected path.dot {
  fill: #414042;
}

.suggestion:hover .esper-radio-selected path.dot-outline {
  fill: #8c42ad;
}

.sug-details {
  display: inline-block;
  margin-left: 20px;
}

.day-text {
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
}

.date-text {
  font-family: "Proxima Nova Light";
  font-size: 18px;
}

.time-text {
  font-size: 14px;
}

.suggestion:hover .day-text,
.suggestion:hover .date-text,
.suggestion:hover .time-text {
  color: #808285;
}

.guest-statuses-title {
  margin-top: 40px;
  font-family: "Proxima Nova Light";
  font-size: 18px;
}

.guests-container {
  border-top: 1px solid #e6e7e8;
}

.sched-step2-row {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 70px;
  border-bottom: 1px solid #e6e7e8;
}

.guest-name {
  float: left;
  margin-top: 14px;
  margin-left: 18px;
  font-family: "Proxima Nova Semibold";
}

.chat-head {
  float: left;
  margin-top: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #a7a9ac;
  text-align: center;
}

.first-initial {
  padding: 8px;
  color: white;
  font-size: 18px;
}

.send-message {
  float: right;
  margin-top: 14px;
  cursor: pointer;
}

.final-sched-div {
  margin-bottom: 40px;
}

.check {
  float: left;
  margin-top: 4px;
}

.final-sched-action {
  margin-left: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* TODO Style the Google map */
#sched-step1-google-map {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
