/*
  Colors:

  Purple        #a25cc6
  Light Purple  #e8d9ee
  Red           #e53030
  Dark Red      #bf2121
  Orange        #f7941e
  Green         #2bb673
  Light Gray    #a7a9ac
  Med Gray      #808285
  BG Gray       #414042
  Dark Gray     #282828

  Fonts:

  Proxima Nova Light
  Proxima Nova Regular
  Proxima Nova Semibold

*/

body {
  background-color: white;
  color: #282828;
  font-family: "Proxima Nova", Arial;
  font-size: 16px;
}

/*** Old stuff ***/

body {
  margin-top: 60px; /* room for navigation bar */
}

/*
  CSS doesn't provide a sane way of centering a block in the window, so we do
  the following.
*/
.login-form {
  margin-top: 200px;
}

.queue-tab-area {
  margin-top: 1em;
  margin-bottom: 2em;
}

.task {
  background-color: white;
  border-top: 1px;
  border-top-color: #e6e7e8;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.75em;
  padding-bottom: 0.75em;
}

.request {
  background-color: #dfdedd;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}

.comments {
  background-color: #d6d6d6;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 0.3em;
}

.comment {
  background-color: #dfdfdf;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0.2em;
}

.author {
  font-style: italic;
}

.tasktitle {
}

.rightbox {
  float: right;
}

.requesttitle {
}

.unasked {
  font-style: italic;
}

.choices {
  margin-top: 0.2em;
}

.choices-readonly {
  margin-top: 0.2em;
  color: #808080;
}

.choice {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 1em;
}

.choice-label {
  display: inline;
  margin-left: 0.1em;
}

.answer {
  font-weight: bold;
  margin-left: 1em;
}

.unanswered {
  font-style: italic;
  margin-left: 1em;
}

.buttons > * {
  vertical-align: top;
  margin: 0.05em;
}

#navbar {
  background-color: white;
  opacity: 0.9;
}

/*** Scheduling ***/

.sched-tab {
  display: inline-block;
  color: #a7a9ac; /* Light Gray */
  border-bottom: 1px solid #a7a9ac; /* Light Gray */
  padding-bottom: 1em;
  padding-top: 1em;
}

.sched-tab-filler {
  width: 4em;
}

.sched-tab-highlight {
  color: black;
  border-bottom: 1px solid #8c42ad; /* Purple */
}

.circ {
  width: 2em;
  height: 2em;
  border-radius: 50%;

  display: inline-block;
  color: white;
  border: 1px solid #a7a9ac; /* Light Gray */;
}

.circ-selected {
  background-color: #2bb673; /* Green */
}

.sug-details {
  display: inline-block;
}

.container{
  width: 500px ;
}