/*** Fonts ***/
@light: "Proxima Nova Light";
@regular: "Proxima Nova Regular";
@italic: "Proxima Nova Regular Italic";
@bold: "Proxima Nova Semibold";

/*** Colors ***/
@gray_05: #f1f2f2;
@gray_10: #e6e7e8;
@gray_20: #d1d3d4;
@gray_30: #bcbec0;
@gray_40: #a7a9ac;
@gray_60: #808285;
@gray_90: #414042;
@green: #2bb673;
@orange: #f7941e;
@purple: #a25cc6;
@purple_active: #7d3ca0;
@purple_disabled: #e8d9ee;
@purple_focus: #c08add;
@purple_hover: #8c42ad;
@red: #e53030;
@red_hover: #bf2121;
@white: #ffffff;


/*** General ***/

body,
html {
  height: 100%;
}

body {
  background-color: @white;
  color: @gray_90;
  font-family: @regular, Arial;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

object {
  pointer-events: none;
}

.scrollable {
  overflow: auto;
}

*.unselectable {
  cursor: default;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.container.mobile {
  padding-left: 15px;
  padding-right: 15px;
}


/*** Nav Bar ***/

#desktop-navbar {
  position: fixed;
  height: 100%;
  width: 220px;
  background-color: @gray_90;
  overflow-y: auto;
}

#mobile-navbar-header,
#task-navbar {
  margin: 0;
  padding: 0;
  background: rgba(248,248,248,0.9);
  border-bottom: 1px solid @gray_20;
  border-radius: 0;
}

#new-task-btn-mobile {
  float: right;
  margin-top: 14px;
  margin-right: 16px;
}

#menu,
#return-home {
  float: left;
  margin-left: 16px;
  margin-top: 23px;
  cursor: pointer;
  &:hover g { fill: @purple_hover; }
  &:active g { fill: #7d3ca0; }
}

#home-title {
  letter-spacing: 3px;
}

#mobile-navbar-collapse {
  background-color: @gray_90;
  box-shadow: 0 10px 10px @gray_60;
}

.nav-header {
  margin: 0;
  padding: 20px 15px;
  height: 80px;
  background-color: @purple;
  &:hover {
    background-color: @purple_hover;
    cursor: pointer;
  }
}

#exec-circ-outline {
  float: left;
  padding: 2px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: @white;
}

#exec-circ {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  text-align: center;
  vertical-align: middle;
  background: @gray_60;
}

#exec-name-div {
  display: inline-block;
  margin-left: 10px;
  padding-top: 3px;
  color: @white;
}

#assisting {
  font-size: 12px;
}

#exec-name {
  font-family: @bold;
}

#exec-caret {
  float: right;
  margin-top: 8px;
}

.account-nav-open {
  .rotate(rotate_cw_180);
}

.account-nav-closed {
  .rotate(rotate_ccw_180);
}

.account-block {
  margin: 0;
  height: 60px;
  color: @gray_20;
  background-color: #282828;
}

.nav-section-line {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 1px;
  background-color: #58595b;
}

.nav-section-title {
  position: relative;
  top: -0.5em;
  left: 7px;
  padding-left: 8px;
  padding-right: 8px;
  color: @white;
  background-color: @gray_90;
  font-family: @light;
  letter-spacing: 3px;
}

.nav-block {
  margin: 0;
  height: 60px;
  color: @gray_60;
}

.nav-text {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

#settings-icon,
#logout-icon,
#search-icon,
#scheduling-icon,
#general-icon {
  float: left;
  margin: 10px 2px;
}

#dashboard-icon {
  float: left;
  margin: 10px 1px;
}

#all-tasks-icon {
  float: left;
  margin: 12px 1px;
}

#archive-icon,
#people-icon {
  float: left;
  margin-top: 10px;
}

#places-icon {
  float: left;
  margin: 10px 5px;
}

#settings-icon path,
#logout-icon g path,
#search-icon path,
#dashboard-icon path,
#dashboard-icon circle,
#all-tasks-icon path,
#scheduling-icon path,
#scheduling-icon text,
#general-icon path,
#general-icon circle,
#archive-icon path,
#people-icon path,
#places-icon path, {
  fill: @gray_60;
}

.account-block:hover {
  background-color: #282828 !important;
}

.account-block:hover {
  #settings-icon path,
  #logout-icon g path { fill: @white; }
}

.nav-block:hover {
  #search-icon path,
  #dashboard-icon path,
  #dashboard-icon circle,
  #all-tasks-icon path,
  #scheduling-icon path,
  #scheduling-icon text,
  #general-icon path,
  #general-icon circle,
  #archive-icon path,
  #people-icon path,
  #places-icon path, { fill: @white; }
}

.nav-pills > li.active > a {
  #settings-icon path,
  #logout-icon g path,
  #search-icon path,
  #dashboard-icon path,
  #dashboard-icon circle,
  #all-tasks-icon path,
  #scheduling-icon path,
  #scheduling-icon text,
  #general-icon path,
  #general-icon circle,
  #archive-icon path,
  #people-icon path,
  #places-icon path, { fill: @white; }
}

#task-navbar {
  z-index: 1030;
  position: fixed !important;
}

#chat-icon {
  float: right;
  margin-right: 16px;
  margin-top: 20px;
  cursor: pointer;
  &:hover path { fill: @purple_hover; }
}


/*** Table Structure ***/

.task,
.sched-step1-row,
.sched-step1-add-row,
.suggestion,
.sched-step3-row {
  padding: 10px;
  border-bottom: 1px solid @gray_10;
}

.task,
.sched-step3-row {
  height: 70px;
}

.sched-step1-row,
.sched-step1-add-row {
  min-height: 70px;
}

.task-list,
#guest-list-container,
#sched-step2-suggestions,
.guests-container.guests-only,
.options-container {
  border-top: 1px solid @gray_10;
}

.task-list {
  margin-top: 20px;
}

#sched-step2-suggestions {
  margin-top: 15px;
}

.check-all,
.task-checkbox,
.suggestion-checkbox,
.suggestion-radio {
  float: left;
  width: 24px;
  height: 24px;
}

.task-checkbox {
  margin-top: 2px;
  &:hover {
    cursor: pointer;
    path.checkbox { stroke: @gray_40; }
  }
}

.suggestion-checkbox {
  margin-top: 30px;
}

.suggestion-radio {
  margin-top: 16px;
}

.suggestion-edit {
  float: right;
  margin-top: 30px;
  width: 24px;
  height: 24px;
}


/*** Home ***/

.home-container {
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 120px;
}

#home-push {
  height: 55px;
}

.navbar-open {
  margin-left: 220px;
}

.page-title {
  font-size: 32px;
  float: left;
  margin-right: 20px;
  font-family: @light;
  letter-spacing: 6px;
}

.new-task-btn {
  float: right;
  margin-top: 20px;
}

.toolbar {
  margin-top: 20px;
}

.archive-btn {
  margin-left: 18px;
  &:hover { cursor: pointer;
    path.background { fill: @gray_20; }
  }
}

.list-tabs > li > a {
  font-size: 14px;
  padding: 0;
  margin-right: 20px;
}

.desktop-nav-tabs > li > a {
  margin-top: 33px;
}

.mobile-nav-tabs > li > a {
  margin-top: 5px;
}

.nav-tabs-centered {
  text-align: center;
}

.nav-tabs-centered.mobile-nav-tabs > li {
  float: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  & > a { margin-right: 0; }
}

.task {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  height: 70px;
  border-bottom: 1px solid;
  border-bottom-color: @gray_10;
}

.task-title {
  display: inline-block;
  margin-top: 4px;
  margin-left: 18px;
  color: @gray_90;
  &:hover { color: @gray_90; }
}


/*** Footers ***/

.list-footer,
.new-task-footer,
.sched-footer {
  position: fixed !important;
  height: 80px;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 0;
  background: rgba(248,248,248,0.9);
  border-top: 1px solid @gray_20;
  border-bottom: none;
  border-radius: 0;
}

.list-footer {
  width: 100%;
}

.new-task-footer {
  padding-top: 20px;
}

#start-task {
  font-family: @light;
  font-size: 20px;
  letter-spacing: 3px;
  width: 240px;
  height: 40px;
}

.footer-inner {
  margin-top: 22px;
  margin-right: 15px;
  margin-left: 15px;
}

.footer-nav {
  width: 120px;
}

.back-button,
.next-button {
  height: 36px;
}

.back-button {
  float: left;
}

.back-arrow-disabled path {
  fill: #bcbec0;
}

.next-button {
  float: right;
}

.sched-progress {
  padding: 0;
  text-align: center;
}

@media (min-width: 992px) {
  .footer-toggle {
    display: none;
  }
  .footer-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .footer-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .footer-collapse.in {
    overflow-y: auto;
  }
  .footer-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -15px;
  }
  .footer-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .footer-collapse .navbar-text:last-child {
    margin-right: 0;
  }
}

.sched-step1 {
  margin-top: 3px;
}

.sched-step2,
.sched-step3,
.sched-step4 {
  width: 106px;
  margin-top: 3px;
  margin-left: -8px;
}

.sched-progress-step1 .sched-step1,
.sched-progress-step2 .sched-step2,
.sched-progress-step3 .sched-step3,
.sched-progress-step4 .sched-step4 {
  cursor: default;
  path { fill: @gray_60; }
  text { fill: @white; }
}


/*** Container ***/

.task-container {
  padding-top: 80px;
  padding-bottom: 120px;
}

#task-content {
  height: 100%;
  position:relative;
  padding: 0;
}

.split-screen {
  border-left: none;
  border-right: 1px solid @gray_20;
}


/*** Modal ***/

.modal-close-circ {
  position: absolute;
  z-index: 10000;
  margin-left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: @gray_10;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: @gray_20;
    cursor: pointer;
  }
}

.modal-close-x {
  margin-top: 6px;
  margin-left: 6px;
  height: 12px;
  width: 12px;
}

.modal-content {
  margin-top: 12px;
}

.modal-first-section-title {
  margin-top: 0px;
  font-family: @bold;
}

.modal-section-title {
  padding-top: 15px;
  font-family: @bold;
}

#sched-availability-message,
#sched-confirm-message {
  resize: none;
}


/*** Login ***/

#login-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 402px;
}

.desktop-login { margin-top: 160px; }
.mobile-login { margin-top: 80px; }

.esper-title {
  margin-bottom: 40px;
  font-family: @light;
  letter-spacing: 12px;
  text-align: center;
  color: @gray_60;
}

.login-title,
#forgot-password {
  padding-top: 10px;
  font-size: 14px;
}

#forgot-password {
  float: right;
}

.login-btn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-family: @light;
  font-size: 20px;
  letter-spacing: 3px;
}


/*** New Task ***/

#new-task-title {
  color: @gray_60;
  &:focus { color: @gray_90; }
}

#categorize {
  margin-top: 40px;
}


/*** Chat ***/

#task-page,
#chat {
  height: 100%;
}

#chat {
  padding-left: 0;
  padding-right: 0;
}

#chat-header {
  position: fixed !important;
  z-index: 1030;
  height: 100px;
  width: 100%;
  background: rgba(248,248,248,0.9);
}

.chat-profile-tabs {
  height: 60px;
  border-bottom: 1px solid @gray_20;
}

.chat-tab-div {
  height: 60px;
  width: 60px;
}

.chat-prof-circ {
  padding-top: 5px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  background: @gray_10;
}

.group {
  margin-top: 4px;
}

.prof-caret {
  margin-left: 9px;
}

.tab-name {
  color: @gray_90;
  &:hover { color: @gray_90;
    .chat-prof-circ { background: @gray_20; }
  }
}

.chat-tabs > li {
  float: left;
}

.chat-tabs > li > a {
  height: 60px;
  padding-top: 15px;
}
.chat-tabs > li > a:hover {
  background-color: @gray_10;
  border-bottom: 1px solid @gray_20;
}
.chat-tabs > li.active > a,
.chat-tabs > li.active > a:hover,
.chat-tabs > li.active > a:focus {
  cursor: default;
  background-color: @gray_60;
  border: none;
}

.chat-tabs > li.active > a .prof-caret path,
.chat-tabs > li.active > a:hover .prof-caret path,
.chat-tabs > li.active > a:focus .prof-caret path {
  fill: @white;
}

.chat-tabs > li.active > a .chat-prof-circ,
.chat-tabs > li.active > a:hover .chat-prof-circ,
.chat-tabs > li.active > a:focus .chat-prof-circ {
  background-color: @white;
}

.chat-profile-details-div {
  height: 40px;
  background-color: @white;
  border-bottom: 1px solid @gray_20;
}

.chat-profile-details {
  position: fixed;
  z-index: 1040;
  margin-top: -40px;
  font-family: @bold;
}

.chat-panel {
  margin-top: 110px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: auto;
}

.message-header {
  margin-bottom: 10px;
}

.from-name-div {
  padding-left: 0;
}

.from-name {
  font-family: @bold;
  font-size: 12px;
  color: @gray_60;
}

.timestamp-div {
  padding-right: 0;
}

.message-status,
.timestamp {
  float: right;
  font-size: 12px;
  color: @gray_60;
}

.message {
  font-size: 14px;
}

.chat-footer {
  margin-left: auto;
  margin-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  background: rgba(248,248,248,0.9);
}

.to-field {
  height: 30px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: @white;
  background-color: @gray_60;
  border-top: 1px solid @gray_20;
}

.chat-editor {
  border-top: 1px solid @gray_20;
  padding: 15px;
}

.chat-entry {
  min-height: 60px;
  overflow: hidden;
}

.chat-actions {
  margin-top: 15px;
}

.option-list {
  padding-left: 28px;
  padding-right: 20px;
  list-style: none;
}

.option {
  margin-top: 10px;
}

.option-radio {
  margin-top: 7px;
  margin-left: -28px;
  height: 18px;
  width: 18px;
  background-color: @white;
  border-radius: 9px;
  border: 2px solid @gray_20;
  float: left;
}

.option-delete {
  float: right;
  margin-top: -23px;
  margin-right: -20px;
  &:hover { cursor: pointer;
    path { fill: @gray_40; }
  }
}

.add-option-radio {
  border: 2px solid @gray_10;
}

.add-option-btn {
  height: 32px;
  width: 100%;
  padding-top: 4px;
  padding-left: 12px;
  text-align: left;
  font-size: 14px;
  color: @gray_10;
  border: 2px solid @gray_10;
  background: @white;
  border-radius: 4px;
  &:hover {
    color: @gray_60;
    border: 2px solid @gray_20;
    cursor: pointer;
  }
}

.offer-choices {
  padding-left: 0;
  &:hover { cursor: pointer;
    path.checkbox { stroke: @gray_40; }
  }
}

.offer-choices-checkbox {
  float: left;
  margin-top: 5px;
  height: 18px;
  width: 18px;
}

.offer-choices-label,
.offer-choices-label-short {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

.chat-send {
  padding-right: 0;
}

.chat-send-btn {
  float: right;
}


/*** Scheduling Step 1 ***/

#guest-list-container {
  margin-top: 30px;
}

.list-prof-circ,
.add-guest-circ {
  float: left;
  margin-top: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  text-align: center;
}

.list-prof-circ {
  background-color: @gray_60;
}

.initials {
  padding: 8px;
  color: @white;
  font-size: 18px;
}

.guest-name {
  float: left;
  margin-top: 14px;
  margin-left: 18px;
  font-family: @bold;
}

.add-guest-circ {
  background-color: @purple;
  &:hover {
    background-color: @purple_hover;
    cursor: pointer;
  }
}

.add-guest-disabled,
.add-guest-disabled:hover {
  background-color: @purple_disabled !important;
  cursor: default;
}

#plus {
  margin-top: 10px;
}

.cancel {
  background-color: @red !important;
  .rotate(rotate_ccw_45);
  &:hover {
    background-color: @red_hover !important;
    cursor: pointer;
  }
}

.return-to-add {
  background-color: @purple;
  .rotate(rotate_cw_45);
}

#add-guest-text {
  float: left;
  margin-top: 14px;
  margin-left: 18px;
  cursor: pointer;
}

#max-guests-text {
  float: left;
  margin-top: 14px;
  margin-left: 18px;
  font-family: @italic;
  color: @gray_60;
}

#guest-input-div {
  margin-left: 60px;
  padding-top: 10px;
  max-width: 360px;
}

.guest-input {
  margin-bottom: 10px;
}

#add-guest-btn {
  margin-bottom: 5px;
}

.remove-guest {
  float: right;
  margin-top: 20px;
  path { fill: @gray_10; }
  &:hover { cursor: pointer;
    path { fill: @gray_20; }
  }
}


/*** Scheduling Step 2 ***/

#manual-entry {
  cursor: pointer;
}

.top-divider {
  margin-bottom: 0;
}

.fill-div {
  width: 100%;
  height: 32px;
  text-align: left;
  .caret {
    float: right;
    margin-top: 8px;
    border-top: 4px solid @gray_90;
  }
}

.pref-time-title,
.location-title {
  padding-top: 10px;
  font-family: @bold;
  font-size: 14px;
}

#sched-step2-google-map {
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}


/*** Scheduling Step 2/3 ***/

.suggestion {
  cursor: pointer;
  &:hover {
    path.checkbox {stroke: @gray_40; }
    path.radio-outline { fill: @gray_40; }
  }
}

@media(min-width:768px){
  .suggestion:hover .suggestion-edit {
    g path { fill: @purple; }
    &:hover g path { fill: @purple_hover; }
  }
}

@media(max-width:767px){
  .suggestion-edit {
    g path { fill: @purple; }
    &:hover g path { fill: @purple_hover; }
  }
}

.checkbox-selected {
  path.checkbox { fill: @purple_disabled; }
  path.checkbox { stroke: @purple; }
  path.check { fill: @gray_90; }
  &:hover path.checkbox { stroke: @purple_hover }
}

.radio-selected {
  path.radio-background { fill: @purple_disabled; }
  path.radio-outline { fill: @purple; }
  circle { fill: @gray_90; }
  &:hover path.radio-outline { fill: @purple_hover; }
}

.sug-details {
  display: inline-block;
  margin-left: 18px;
}

.day-text {
  font-family: @bold;
  font-size: 14px;
}

.date-text {
  font-family: @light;
  font-size: 18px;
}

.time-text, .loc-text {
  font-size: 14px;
}

.pin {
  margin-right: 6px;
}

.tbd {
  font-family: @italic;
}


/*** Scheduling Step 3 ***/

.guest-statuses-title {
  margin-top: 40px;
  font-family: @light;
  font-size: 18px;
}

.send-message {
  float: right;
  margin-top: 14px;
  cursor: pointer;
}


/*** Scheduling Step 4 ***/

.final-sched-div {
  margin-bottom: 40px;
}

.check {
  float: left;
  margin-top: 4px;
}

.checked path {
  fill: @green;
}

.final-sched-action {
  font-size: 24px;
  cursor: pointer;
}

.final-sched-text {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  float: left;
  line-height: 1.42857;
}


/*** Animations ***/

.rotate (@rotation) {
  -webkit-animation: @rotation 0.25s;
     -moz-animation: @rotation 0.25s;
          animation: @rotation 0.25s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-moz-keyframes rotate_ccw_180 {
    from { -moz-transform: rotate(180deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes rotate_ccw_180 {
    from { -webkit-transform: rotate(180deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes rotate_ccw_180 {
    from {transform:rotate(180deg);}
    to {transform:rotate(0deg);}
}

@-moz-keyframes rotate_cw_180 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(180deg); }
}
@-webkit-keyframes rotate_cw_180 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(180deg); }
}
@keyframes rotate_cw_180 {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}

@-moz-keyframes rotate_ccw_45 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-45deg); }
}
@-webkit-keyframes rotate_ccw_45 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-45deg); }
}
@keyframes rotate_ccw_45 {
    from {transform:rotate(0deg);}
    to {transform:rotate(-45deg);}
}

@-moz-keyframes rotate_cw_45 {
    from { -moz-transform: rotate(-45deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes rotate_cw_45 {
    from { -webkit-transform: rotate(-45deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes rotate_cw_45 {
    from {transform:rotate(-45deg);}
    to {transform:rotate(0deg);}
}
