#error {
  color:red;
}
#errorCode {
  font-size:9pt;
}

.buttons {
  float:right;
}

.unasked {
  font-style:italic;
}
.choice {
  margin-left:1em;
}
.answer {
  font-weight:bold;
  margin-left:1em;
}
.unanswered {
  font-weight:bold;
  font-style:italic;
  margin-left:1em;
}

.comments {
  margin-left:1em;
}
.comments:first-line {
  font-style:italic;
}
.comments div {
  font-weight:bold;
}

.quiz {
  vertical-align:middle;
}
