/* LESS stylesheet for the Esper Chrome extension */

/*** Colors ***/
@blue: #0080ce;
@blue_bg: #dfeff7;
@border: #ebebeb;
@dark_gray: #282828;
@google_bg_gray: #f5f5f5;
@google_border_gray: #d8d8d8;
@gray_f8: #f8f8f8;
@gray_05: #f1f2f2;
@gray_10: #e6e7e8;
@gray_20: #d1d3d4;
@gray_30: #bcbec0;
@gray_40: #a7a9ac;
@gray_60: #808285;
@gray_80: #58595b;
@gray_90: #414042;
@green: #2bb673;
@green_hover: #1e9b5c;
@orange: #f7941e;
@orange_bg: #f4e3d3;
@orange_hover: #e87400;
@purple: #a25cc6;
@purple_active: #7d3ca0;
@purple_bg: #e8d9ee;
@purple_bg_hover: #fefdff;
@purple_bg_active: #faf7fc;
@purple_disabled: #ceb3e5;
@purple_focus: #c08add;
@purple_gradient: #a464c6;
@purple_hover: #8c42ad;
@purple_text: #463c4c;
@red: #d9534f;
@red_disabled: #eba8a7;
@red_hover: #d2322d;


/*** General ***/

@sidebar_width: 248px;

a { text-decoration: none; }

ul.esper-ul, li.esper-li { list-style-type: none; }

ul.esper-ul {
  display: none;
  position: absolute;
  padding: 7px 0px;
  background: white;
  border: 1px solid @google_border_gray;
  webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
         box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  .esper-ul-divider {
    height: 1px;
    background: @gray_20;
  }
}

li.esper-li, a.esper-a {
  display: block;
  position: relative;
  padding: 7px 16px;
  color: black;
  cursor: pointer;
  line-height: 1.0;
  text-align: left;
  &:hover { background: @gray_10; }
  &.danger { color: @red; }
  &.disabled {
    color: @gray_30;
    cursor: default;
    &:hover { background: none; }
  }
}

.dw .nH .nH .no { margin-right: 256px; }


/** Buttons **/

.primary-btn {
  background: linear-gradient(@purple, @purple_hover);
  border: 1px solid @google_border_gray;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  font-weight: 300;
  height: 30px;
  line-height: 0.8;
  outline: none;
  padding: 0px 20px;
  cursor: pointer;
  &:hover { background: linear-gradient(@purple_gradient, @purple_hover); }
  &:active { background: linear-gradient(@purple_active, @purple_hover); }
}


/* Esper Menu (Dropdown) */

.esper-menu {
  display: inline;
  position: relative;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.esper-menu-logo {
  float: left;
  &.white {
    margin: 2px 3px 1px 4px;
  }
  &.black {
    margin: 5px 7px;
    opacity: 0.47;
    &:hover { opacity: 0.85; }
  }
}

.esper-menu-bg {
  display: none;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.esper-caret {
  display: none;
  position: absolute;
  left: 14px;
}

.esper-menu-dropdown {
  z-index: 11;
  position: absolute;
  top: 33px;
  left: -12px;
  ul {
    width: 150px;
    margin-top: 11px;
    webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
           box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  }
}


/*** Esper Dock ***/

.esper-dock-container {
  z-index: 5;
  position: absolute;
  right: 14px;
  bottom: 0;
}

.esper-dock-wrap-left {
  float: left;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 7px 7px;
  border-color: transparent transparent @purple_active transparent;
}

.esper-dock-wrap-right {
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 0 7px;
  border-color: transparent transparent transparent @purple_active;
}

.esper-dock {
  height: 36px;
  width: @sidebar_width + 14px;
  margin-top: 7px;
  color: white;
  background: @purple;
  cursor: pointer;
  &:hover { background: @purple_hover; }
}

.esper-team-name { padding: 9px; }


/** Sidebar **/

.esper-sidebar {
  display: none;
  z-index: 4;
  width: @sidebar_width;
  position: absolute;
  top: 10px;
  right: 21px;
  bottom: 0;
  background: white;
}

.esper-tab-links {
  margin: 0;
  padding-left: 18px;
  border-bottom: 1px solid @gray_20;
  li {
    float:left;
    list-style:none;
  }
  a {
    width: 72px;
    height: 32px;
    display: inline-block;
    margin: 0 0 -1px -1px;
    padding: 5px 7px;
    border: 1px solid @google_border_gray;
    background: white;
    color: @gray_40;
    text-align: center;
    transition: all linear 0.15s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    &:hover { background: @gray_10; }
  }
  li.active a, li.active a:hover {
    background: @google_bg_gray;
    border-bottom: none;
    color: black;
    cursor: default;
  }
  a:hover {
    color: black;
  }
  &:after {
    display:block;
    clear:both;
    content:'';
  }
}

.esper-tab-content {
  position: absolute;
  width: @sidebar_width;
  top: 32px;
  bottom: 36px;
  background: white;
  border-left: 1px solid @gray_20;
  border-right: 1px solid @gray_20;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
  .tab { display:none; }
  .tab.active { display:block; }
}


/** Sidebar Events **/

.esper-link-actions {
  padding: 5px 15px;
  background: @google_bg_gray;
  border-bottom: 1px solid #d8d8d8;
}

.esper-link-action {
  height: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: @purple;
  cursor: pointer;
  .esper-link-action-icon { float: left; }
  .esper-link-action-text {
    margin: 3px 0px 0px 32px;
    font-size: 13px;
  }
  &:hover .esper-link-action-text { text-decoration: underline; }
}

.esper-no-events,
.esper-linked-events {
  position: absolute;
  width: 100%;
  top: 83px;
  bottom: 0;
}

.esper-no-events {
  display: none;
  color: @gray_20;
  font-size: 18px;
  padding-top: 100px;
  text-align: center;
}

.esper-linked-events {
  padding: 0px 10px 20px 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

.esper-ev {
  padding: 14px 4px 16px 4px;
  border-bottom: 1px solid #d8d8d8;
}

.esper-ev-date {
  float: left;
  width: 36px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid @gray_30;
  padding-top: 3px;
  text-align: center;
}

.esper-ev-month {
  font-size: 11px;
}

.esper-ev-day {
  color: @purple;
  font-size: 18px;
}

.esper-ev-title {
  font-size: 14px;
  margin-left: 48px;
  padding: 3px 0px 1px 0px;
}

.esper-ev-times {
  color: @gray_60;
  font-size: 13px;
  margin-left: 48px;
  padding: 1px 0px 2px 0px;
}

.esper-ev-cog {
  z-index: 1;
  float: right;
  opacity: 0.5;
  cursor: pointer;
  &:hover { opacity: 1.0; }
}

.esper-ev-cog.open { opacity: 1.0; }

ul.esper-ev-dropdown {
  z-index: 2;
  margin-top: 18px;
  right: 0;
  .esper-ev-actions { padding-bottom: 7px; }
  .esper-ev-sync { padding-top: 7px; }
}

li.sync-list {
  color: @gray_40;
  cursor: default;
  &:hover { background: none; }
  &.sync-option {
    height: 13px;
    padding-bottom: 0px;
  }
  .sync-option-text {
    float: left;
    padding-top: 1px;
    padding-right: 8px;
    color: black;
  }
  .info {
    float: left;
    opacity: 0.5;
    &:hover { opacity: 1.0; }
  }
  .sync-checkbox {
    float: right;
    margin-left: 20px;
  }
  &.sync-note {
    color: @gray_20;
    font-size: 11px;
  }
}


/** Sidebar Footer **/

.esper-footer {
  padding: 10px 4px;
}

.esper-footer-logo {
  opacity: 0.7;
  &:hover { opacity: 1.0; }
}

.esper-footer-links {
  float: right;
  font-size: 12px;
  margin-top: 4px;
  a { color: @gray_60; }
  a:hover {
    color: @gray_80;
    text-decoration: underline;
  }
}

.esper-footer-divider {
  display: inline-block;
  width: 7px;
  height: 10px;
  margin-right: 7px;
  border-right: 1px solid @gray_10;
}

.copyright {
  color: @gray_30;
  font-size: 11px;
  margin-top: 7px;
  text-align: right;
}


/** Modals **/

.esper-modal {
  /* geometry */
  z-index: 10;
  position: fixed;
  top: 20%;
  left: 50%;

  /* appearance */
  outline: none;
  background: #fbfafc;
  opacity: 1;
  border: 1px solid @google_border_gray;
  webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
         box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.esper-modal-bg {
  z-index: 6;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
}

.esper-modal-header {
  background: @gray_90;
  color: white;
  margin: -1px -1px 0px -1px;
}

.esper-modal-close-container {
  float: right;
  height: 10px;
  width: 10px;
  margin: 6px 5px;
  padding: 7px;
  cursor: pointer;
  .esper-modal-close-icon {
    float: left;
    opacity: 0.6;
  }
  &:hover {
    background: #737373;
    .esper-modal-close-icon { opacity: 1.0; }
  }
}

.esper-modal-title {
  font-size: 14px;
  padding: 10px 12px;
}


/** Welcome Modal **/

@welcome_width: 480px;

.esper-welcome-modal {
  margin-left: -@welcome_width/2;
  width: @welcome_width;
}

.about-esper {
  width: 100%;
  height: 300px;
  background: @gray_10;
}

.welcome-footer {
  padding: 10px;
}

.disable-link {
  float: left;
  padding-top: 8px;
  font-size: 12px;
  color: @gray_40;
  cursor: pointer;
  &:hover {
    color: @gray_60;
    text-decoration: underline;
  }
}

.enable-btn {
  float: right;
  margin-bottom: 10px;
}


/** Search Modal **/

@search_width: 480px;

.esper-search-modal {
  margin-left: -@search_width/2;
  width: @search_width;
}

.esper-searchbox {
  width: @search_width - 78px;
  background-color: white !important;
  border: none;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 12px;
  padding: 15px 10px 15px 40px;
  outline: none;
  &::-webkit-input-placeholder {
    color: @gray_30;
  }
}

.clear-search-container {
  float: right;
  background: white;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  height: 32px;
  padding: 16px 16px 0px 0px;
}

.clear-search {
  visibility: hidden;
  opacity: 0.5;
  cursor: pointer;
  &:hover { opacity: 1.0; }
}

.search-results {
  height: 240px;
  background: white;
  border: 1px solid @google_border_gray;
  border-radius: 2px;
  margin: 0px 15px;
  overflow:auto;
}

.search-instructions {
  margin: 101px 80px;
  color: @gray_30;
  text-align: center;
}

.esper-ev-result {
  padding: 14px 14px 16px 14px;
  border-bottom: 1px solid #d8d8d8;
  cursor: default;
  .esper-ev-date { cursor: default; }
  .esper-ev-title, .esper-ev-times { margin-right: 74px; }
  .esper-ev-date:hover { border-color: @gray_30; }
}

.link-event {
  float: right;
  color: @purple;
  cursor: pointer;
  margin-top: 10px;
  &:hover {
    color: @purple_hover;
    text-decoration: underline;
  }
}

.linked {
  float: right;
  color: @gray_30;
  cursor: default;
  margin-top: 10px;
}

.search-stats {
  margin: 20px 20px 40px 20px;
  color: @gray_30;
  text-align: center;
}

.search-stats.no-events { margin-top: 110px; }

.search-footer {
  height: 30px;
  padding: 10px 15px;
}

.search-footer-logo { margin-top: 5px; }

.done-btn { float: right; }


/** Tooltip **/

@sync_info: 220px;

.ui-tooltip {
  z-index: 9999;
  background: #2a2a2a;
  color: white;
  border: none;
  padding: 0;
  opacity: 1;
  &.sync-info { max-width: @sync_info; }
}

.ui-tooltip-content {
  position: relative;
  font-size: 12px;
  line-height: 1.3;
  padding: 9px 11px;
}

.ui-tooltip-content::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
}

.top .ui-tooltip-content::after {
  bottom: -8px;
  border-style: solid;
  border-color: #2a2a2a transparent;
  border-width: 8px 8px 0;
}

.sync-info .ui-tooltip-content::after {
  left: @sync_info/2 - 8px;
}


/** Spinner **/

.spinner {
  display: none;
  position: relative;
}

.search-spinner {
  margin: 110px auto;
  width: 20px;
  height: 20px;
}

.link-spinner {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.sync-spinner {
  float: right;
  width: 12px;
  height: 12px;
  margin-left: 20px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: @purple;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
          animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
