@import "../lib/_bootstrap-variables.less";

.day-selector {
  min-width: @min-width;
}

.day-selector .days .esper-flex-list {
  .esper-selectable {
    text-align: center;

    &.active {
      font-weight: bold;
      color: @brand-primary;
    }

    i.fa { display: none; }
  }
}

.day-selector .times {
  display: flex;
  padding-left: @padding-small-horizontal;
  padding-right: @padding-small-horizontal;

  .hour-minute {
    flex-grow: 1
  }

  .dash {
    padding: 0 @padding-xs-horizontal;
    line-height: @input-height-base;
  }
}
