.canvas-holder {
  position: absolute;
  top: @font-size-h4 + @line-height-computed + @panel-body-padding;
  bottom: @padding-large-vertical;
  left: @padding-base-horizontal;
  right: @padding-base-horizontal;

  canvas {
    width: 100%;
    height: 100%;
  }

  &.with-vertical-label {
    left: @padding-base-horizontal + @line-height-computed * 1.25;

    .vertical-label {
      display: block;
      position: absolute;
      top: 50%; left: 0;
      transform: rotate(-90deg) translateX(-50%) translateY(-125%);
      transform-origin: top left;
    }
  }

  &.with-horizontal-label {
    bottom: @padding-large-vertical + @line-height-computed * 1.25;

    .horizontal-label {
      text-align: center;
    }
  }

  .horizontal-label, .vertical-label {
    font-size: @font-size-small;
    line-height: @line-height-computed;
    font-weight: 600;
  }
}