@import "../marten/less/_helpers";

.select-labels-heading {
  .recurring-note, .shift-note {
    font-weight: normal;
    color: @gray-light;
  }

  .shift-note {
    display: block;
    padding-top: @padding-small-vertical;
    font-size: 80%;
    font-weight: normal;
  }
}

.suggested-label {
  padding: @padding-xs-vertical @padding-xs-horizontal;
  button {
    .esper-wide-button;
  }
}
