/* Bootstrap + overrides - consider moving overrides into footer */
@import "../marten/less/_custom_bootstrap";
@import "../marten/less/_helpers";
@navbar-height: 50px;
@navbar-default-bg: @body-bg;
@navbar-default-border: @brand-bg;
@navbar-padding-vertical: 15px;
@navbar-padding-horizontal: 10px;

/* New variables */
@footer-bg: @panel-default-heading-bg;
@footer-border: @panel-default-border;
@footer-default-color: @text-color;
@footer-default-link-color: @brand-bg;


/* Project-specific imports */
@import "./_loading";
@import "./_onboarding";
@import "./_chart";
@import "./_calendar";
@import "./_labeling";
@import "./_loginRequired";


/* Header and footer animations */
@keyframes dropdown-nav {
  0% {
    top: -@navbar-height;
  }
  100% {
    top: 0;
  }
}

@keyframes footer-peek {
  50% {
    max-height: 100%;
  }
}

/* Basic Layout */
body, .footer {
  background: @footer-bg;
}
.navbar {
  animation: dropdown-nav 0.6s;
}
#esper-main {
  background: @body-bg;
  padding: @navbar-height 0;
  min-height: 50%;
}
.footer {
  margin: 0 auto;
  padding: 0;
  color: @footer-default-color;
  border-top: 1px solid @footer-border;
  background: @footer-bg;
  ul, li{
    list-style-type: none;
  }

  &.hoverable {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: @padding-large-vertical;
    animation: footer-peek 2s 1.2s;
    overflow: hidden;
    z-index: 10;

    &:hover, &:focus {
      max-height: 100%;
    }

    // NB: max-height instad of height because height => auto doesn't
    // animate well
    transition: max-height 0.6s;
  }

  a, a:hover, a:visited, a:active {
    color: @footer-default-link-color;
  }

  .footer-links {
    padding-top: (@navbar-height -
      (extract(@nav-link-padding, 1) * 2) -
      @line-height-computed) / 2;

    a {
      padding-right: @padding-large-horizontal;
    }
  }
}
