/* CSS file used on landing pages */

/*** Imports **/

@import "./lib/_bootstrap-variables";
@import "./lib/_helpers";
@import "./_login-buttons";
@import "./_landing-charts";
@import "./_body";
@import "./_header";
@import "./_footer";
@import "./_social";


// No navbar margin for splash
.navbar-fixed-top + .splash-content, .navbar-fixed-top + .splash {
  margin-top: @navbar-height;
}


/* Make navbar a little taller on desktop splash pages */
@extra-navbar-padding: 10px;

@media screen and (min-width: @screen-sm-min) {
  .navbar-fixed-top {
    &.navbar-default {
      background: @navbar-default-bg;
    }
    padding: @extra-navbar-padding 0;
    max-height: @navbar-height + (@extra-navbar-padding * 2);

    + *, + .splash, + .splash-content {
      margin-top: @navbar-height + (@extra-navbar-padding * 2);
    }
  }
}


/* General */

.no-break {
  display: inline-block;
  white-space: nowrap;
}

.no-break-sm {
  @media screen and (min-width: @screen-sm-min) {
    .no-break;
  }
}


/* Text */

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 600;
}

h1 { font-size: 32px; }
h2 { font-size: 18px; }
h3 { font-size: 18px; }
h4 { font-size: 15px; }

@media (min-width:@screen-sm-min) {
  h1 { font-size: 42px; }
  h2 { font-size: 24px; }
  h3 { font-size: 24px; }
  h4 { font-size: 18px; }
}

h3, h4 {
  letter-spacing: 2px;
}

p {
  line-height: 2;
}

p + h4, ul + h4 {
  margin-top: 30px;
}

li {
  line-height: 1.5;
}

ul{
  text-align: left;
  padding-left: 10px;
}

.bold {
  font-weight: 600;
}


/** Landing page button tweaks **/

button, .btn {
  &.index, &.large {
    font-size: @font-size-large;
    font-weight: bold;
    padding: @padding-large-vertical @padding-large-horizontal;
    text-transform: uppercase;
    min-width: 200px;

    @media screen and (min-width: @screen-sm-min) {
      min-width: 300px;
    }
  }

  &.index {
    background: @brand-primary-alt;
    color: @brand-contrast;
    border: 1px solid darken(@brand-primary-alt, 5%);
    &:hover {
      background: @brand-primary-alt-hover;
      border: 1px solid darken(@brand-primary-alt-hover, 5%);
    }

    .feature-text & {
      width: 100%;
      min-width: auto;
    }

    @media screen and (max-width: @screen-xs-max) {
      width: 100%;
      min-width: auto;
    }
  }
}


/* Splash */

.splash-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  clip: rect(0px,100%,400px,0px);
  &.fullscreen {
    height: 100%;
    clip: auto;
  }
}

@media (min-width:800px) { .splash { width: 100%; } }
@media (max-width:799px) { .splash { height: 500px; } }

.splash-content {
  min-height: 500px;
  color: white;
  h1, h2, h3, h4, h5, h6 {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  }


  // Set actual image in HTML style tag with background-image
  background-size: cover;
  background-position: center;

  &.splash-purple {
    background: @brand-bg;
    &.light { background: @purple; }
  }

  &.short {
    min-height: 0;
    .splash-text-container {
      padding-top: 25px;
      h1 { margin-top: 10px; }
    }
  }
  &.large { min-height: 450px; }
  &.fullscreen { height: 100%; }
  .splash-label {
    color: @purple-dark;
    &:hover { opacity: 0.5; }
  }
  a {
    color: white;
    text-decoration: none;
    -webkit-transition:.2s;
       -moz-transition:.2s;
        -ms-transition:.2s;
         -o-transition:.2s;
            transition:.2s;
  }

  form {
    label {
      color: white;
      margin-top: @esper-lg-padding;
    }

   .btn-primary {
     background-color: fadeout(white, 5%);
    }

    .has-error .control-label {
      color: white;
      background: @brand-danger;
      padding: @padding-xs-vertical @padding-xs-horizontal;
    }
  }
}

.splash-content .splash-text-container {
  padding-top: 80px;
  padding-bottom: 25px;
  width: 100%;
}

@media (max-width:899px) {
  .splash-content .splash-text-container {
    padding-top: 50px;
  }
}

@media (max-width:429px) {
  .splash-content .splash-text-container {
    padding-top: 10px;
  }
}


.splash-text {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 18px;
  @media (min-width:@screen-sm-min) { padding: 0 36px; }
}

.splash-text-subheader {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 18px;
  @media (min-width:@screen-sm-min) { padding: 0 36px; }
}

.splash-headline {
  max-width: 900px;
}

.splash-label {
  display: inline-block;
  padding: 4px 8px 4px 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  color: @purple-dark;
  border-radius: 3px;
  background: white;
}


/* Page Structure */

.section-container { text-align: center; }
.section-container.left-align { text-align: left; }
.section-container.white { background: @body-bg; }
.section-container.gray { background: @gray-lightest; }
.section-container.dark { background: @purple-dark; }
.section-container.dark + .footer-container { margin-top: 0; }
.section-container:last-child {
   padding-bottom: 20px;
}

.section-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 56px 18px;
  @media (min-width:@screen-sm-min) {
    padding: 64px 36px;
  }
  &.narrow { max-width: 800px; }
  &.verynarrow { max-width: 650px; }
  &.short {
    padding: 10px 20px;
    &:first-child { padding-top: 30px; }
  }
  &.index {
    padding-bottom: 10px;
  }
}

.section-content-fixed {
  display: inline-block;
  padding: 48px 18px;
  @media (min-width:@screen-sm-min) { padding: 64px 36px; }
}

.feature-container {
  &:after {
    content:"";
    display:block;
    clear:both;
  }

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 15px;

  .feature-image, .feature-text {
    padding: 10px 25px;
  }

  .feature-image {
    img {
      width: 100%;
    }
  }

  .feature-text {
    text-align: left;
  }

  @media (min-width:@screen-sm-min) {
    max-width: 90%;

    .feature-image {
      width: 400px;

      &.left-col {
        float: left;
      }

      &.right-col {
        float: right;
      }
    }

    .feature-text {
      &.right-col {
        margin-left: 400px;
      }

      &.left-col {
        margin-right: 400px;
      }
    }
  }

  @media (min-width: @screen-md-min) {
    max-width: 900px;

    .feature-image {
      width: 500px;

      &.left-col {
        float: left;
      }

      &.right-col {
        float: right;
      }
    }

    .feature-text {
      &.right-col {
        margin-left: 500px;
      }

      &.left-col {
        margin-right: 500px;
      }
    }
  }

  @media (min-width: @screen-lg-min) {
    max-width: 1100px;
  }
}


/* Request Demo */

.signup-form, .redeem-form {
  max-width: 623px;
  margin-left: auto;
  margin-right: auto;
}

.signup-form {
  margin: 40px auto;

  &.section-content {
    margin: 0 auto;
    padding: 0 15px 75px;
  }
}


/* Team */

.photo-grid {
  display: inline-block;
  width: 1200px;
  margin: 0 auto 48px auto;
  @media (min-width:@screen-sm-min) { margin: 0 auto 64px auto; }
  @media (max-width:1199px) { width: 900px; }
  @media (max-width:899px)  { width: 600px; }
  @media (max-width:599px)  { width: 300px; }
}

.photo-container {
  float: left;
  width: 240px;
  margin: 20px 30px;
  border: 1px solid @panel-default-border;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.10);
          box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.10);
}

.employee-photo {
  width: 238px;
  height: 238px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  vertical-align: bottom;
}

.photo-caption {
  h2, p { margin: 0; }
  h2 { font-size: 22px; }
  .name, .social-footer { padding: 6px 10px; }
  padding: 10px;
  background: white;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: left;
  .social img {
    height: 20px;
    margin-right: 10px;
  }
  &.simple {
    font-weight: 600;
    text-align: center;
  }
}


/* Jobs */

.jobs-tagline { font-family: monospace; }

.job-listings-container {
  display: inline-block;
  width: 100%;
  padding: 48px 18px;
  @media (min-width:@screen-sm-min) {
    width: auto;
    padding: 64px 36px;
  }
}

.hiring {
  width: 216px;
  margin-bottom: 20px;

  @media (min-width:@screen-sm-min) {
    width: 324px;
    margin: 54px 80px 0 0;
  }
}

.job-listing {
  padding: 20px 0;
  h2 { margin: 0; }
  p { margin-top: 0; }
}

.jobs-left-col, .jobs-right-col {
  @media (min-width:@screen-sm-min) {
    float: left;
  }
}

.jobs-right-col {
  width: 100%;
  text-align: center;

  @media (min-width:@screen-sm-min) {
    max-width: 400px;
    text-align: left;
  }
}

.benefits-row { text-align: center; }

.benefit {
  img {
    float: left;
    margin-top: 35px;
  }
  @media (min-width:1000px) {
    float: left;
    width: 50%;
    padding: 20px 30px;
    img { width: 120px; }
    .benefit-text { margin-left: 160px; }
  }
  @media (max-width:999px) {
    display: inline-block;
    max-width: 600px;
    padding: 20px 0;
    img { width: 80px; }
    .benefit-text { margin-left: 100px; }
  }
  text-align: left;
  h4 { color: @text-muted; }
}


/* Contact */

.contact-grid {
  display: inline-block;
  width: 610px;
  margin: 48px auto;
  @media (min-width:@screen-sm-min) { margin: 64px auto; }
  @media (max-width: 941px) { width: 510px; }
  @media (max-width: 509px) { width: 320px; }
}

.contact-card {
  float: left;
  width: 260px;
  @media (max-width: 941px) { width: 480px; }
  @media (max-width: 509px) { width: 290px; }
  margin: 15px;
  padding: 30px 18px;
  background: white;
  border: 1px solid @panel-default-border;
  border-radius: 3px;
  a {
    color: @purple-dark;
    img {
      width: 100px;
      margin: 0 auto;
    }
    &:hover { color: @purple; }
  }
}

.map-container { position: relative; }

.map-shadow, #esper-map {
  width: 100%;
  height: 450px;
}

.map-shadow {
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: inset  0  8px 8px -8px rgba(0,0,0,0.5),
                      inset  0 -8px 8px -8px rgba(0,0,0,0.5);
     -moz-box-shadow: inset  0  8px 8px -8px rgba(0,0,0,0.5),
                      inset  0 -8px 8px -8px rgba(0,0,0,0.5);
          box-shadow: inset  0  8px 8px -8px rgba(0,0,0,0.5),
                      inset  0 -8px 8px -8px rgba(0,0,0,0.5);
  pointer-events: none;
}


/* Terms of Use */

.last-modified {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.7;
}


/* Prominent Users */

.users-text {
  font-size: 18px;
  text-align: center;
}

.users-container {
  margin-top: 25px;
  text-align: center;

  .users-logo {
    img {
      display: inline-block;
      height: 3em;
      width: auto;
      margin: 1.5em;
    }
  }
}

.testimonials {
  margin-bottom: 50px;

  .attribution {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-right: 30px;
    color: @text-muted;
    font-size: 90%;
  }

  .headshot
  {
    border-width: 10px;
    border-color: black;
  }
}


/* Charts Help Page */

.chart-img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;

  @media (min-width:@screen-sm-min) {
    margin: 10px 15px 0 0;
    float: left;
    width: 300px;
  }
}

/* Pricing */
.pricing-container {
  @media screen and (min-width: @screen-sm-min) {
    padding-top: 50px;
  }
}
