/*
  Style login component
*/
@import "./lib/_bootstrap-variables";
@import "./_loading";
@import "./_login-buttons";
@import "./_body";
@import "./_header";
@import "./_footer";

@esper-button-container-shift: 110%;

#esper-login-container {
  margin: @padding-large-vertical auto;
  padding: @padding-large-vertical;
  text-align: center;

  @media (min-width: @screen-sm-min) {
    width: 350px;
    margin: 25px auto;
  }
}

#esper-login {
  overflow-x: hidden;

  .buttons-container {
    position: relative;
    left: 0;
    transition: left 0.6s;

    &.shifted {
      left: -@esper-button-container-shift;
    }

    .nylas-form {
      position: absolute;
      top: 0;
      left: @esper-button-container-shift;
      right: -@esper-button-container-shift;

      .btn-primary {
        width: 100%;
      }
    }
  }

  .sign-in-footer {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: @padding-base-vertical;
    text-align: center;
    color: @text-muted;
    border-top: 1px solid @hr-border;
  }
}
