@import "./lib/_bootstrap-variables";
@import "./lib/_dropdown";
@import "./lib/_expando";
@import "./lib/_flex-list";
@import "./lib/_new-labels-form";
@import "./lib/_timezone-selector";
@import "./lib/_tooltip";
@import "./lib/_helpers";

/* Project-specific imports */
@import "./_loading";
@import "./_body";
@import "./_header";
@import "./_footer";
@import "./_color-picker";

.esper-content {
  @media screen and (min-width: @screen-sm-min) {
    .panel, .alert.msg {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .alert.msg {
      text-align: center;
    }
  }

  .esper-expanded {
    padding-top: @padding-large-vertical * 2;
  }

  .settings-menu {
    text-align: center;

    & + .esper-expanded {
      padding-top: 0;
    }
  }
}

.group-role-label {
  display: inline-block;
  padding-left: 5px;
}

.role-box {
  text-transform: uppercase;
  color: @brand-text-muted;

  &.editable {
    cursor: pointer;
    color: @link-color;
  }
}

.esper-sidebar-section {
  padding-bottom: 20px;
}

.sub-plan-box {
  border: 1px solid @brand-border;
  border-radius: @border-radius-base;
  cursor: pointer;
  transition: border 0.5s;

  > * {
    padding: @esper-base-padding;
  }

  .free-trial, .pricing {
    text-transform: uppercase;
    text-align: center;
  }

  .free-trial {
    font-weight: bold;
  }

  .pricing {
    font-size: @font-size-small;
    color: @brand-text-muted;
  }

  .sub-plan-heading {
    text-align: center;
    border-bottom: 1px solid @brand-border;
    background: @panel-default-heading-bg;
    margin: 0;
    border-top-right-radius: @border-radius-base;
    border-top-left-radius: @border-radius-base;
    transition: border 0.5s, background 0.5s;
  }

  .sub-plan-body {
    min-height: 300px;
  }

  .btn { text-transform: uppercase; }

  &:hover, &.selected {
    border-color: @panel-success-border;

    .sub-plan-heading {
      border-color: @panel-success-border;
      background: @panel-success-heading-bg;
      color: @panel-success-text;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul > li {
    margin-top: 6px;
    font-weight: bold;

    &:before {
      content: '';
      display: inline-block;
      height: @font-size-small;
      width: @font-size-small;
      vertical-align: middle;
      margin: 0 @padding-small-horizontal;
      background-image: url('/img/check.svg');
    }
  }
}
