@import "./lib/_bootstrap-variables";
@import "./lib/_dropdown";
@import "./lib/_expando";
@import "./lib/_flex-list";
@import "./lib/_new-labels-form";
@import "./lib/_timezone-selector";
@import "./lib/_tooltip";
@import "./lib/_helpers";

/* Project-specific imports */
@import "./_loading";
@import "./_body";
@import "./_header";
@import "./_footer";
@import "./_color-picker";

.esper-content {
  @media screen and (min-width: @screen-sm-min) {
    .panel, .alert.msg {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .alert.msg {
      text-align: center;
    }
  }

  .esper-expanded {
    padding-top: @padding-large-vertical * 2;
  }

  .settings-menu {
    text-align: center;

    & + .esper-expanded {
      padding-top: 0;
    }
  }
}

.group-role-label {
  display: inline-block;
  padding-left: 5px;
}

.role-box {
  text-transform: uppercase;
  color: @brand-text-muted;

  &.editable {
    cursor: pointer;
    color: @link-color;
  }
}

.esper-sidebar-section {
  padding-bottom: 20px;
}

.sub-plan-box {
  color: @btn-primary-color;
  min-height: 250px;
  border: 1px solid lighten(@btn-primary-border, 25%);
  border-radius: 6px;
  margin: 8px;
  cursor: pointer;
  transition: border 0.5s, transform 0.5s;

  &:hover, &.selected:hover {
    border: 6px solid @btn-primary-border;
  }

  &.selected {
    border: 3px solid lighten(@btn-primary-border, 5%);
  }

  .sub-plan-heading {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lighten(@btn-primary-border, 25%);
  }

  ul > li {
    margin-top: 6px;
    font-weight: bold;
  }
}
