@import "./lib/_bootstrap-variables";
@import "./lib/_dropdown-modal";
@import "./lib/_expando";
@import "./lib/_new-labels-form";
@import "./lib/_timezone-selector";
@import "./lib/_helpers";

/* Project-specific imports */
@import "./_loading";
@import "./_header";
@import "./_footer";

#esper-main {
  padding: @navbar-height 0;
  min-height: 50%;

  > .container:first-child {
    margin-top: @navbar-margin-bottom;
  }
}

.esper-right-content {
  @media screen and (min-width: @screen-sm-min) {
    .panel, .alert.msg {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .alert.msg {
      text-align: center;
    }
  }

  .esper-expanded {
    padding-top: @padding-large-vertical * 2;
  }

  .settings-menu {
    text-align: center;

    & + .esper-expanded {
      padding-top: 0;
    }
  }
}

.group-role-label {
  display: inline-block;
  padding-left: 5px;
}

#new-team-page {
  padding-top: @padding-large-vertical * 2;
}

.esper-sidebar-section {
  padding-bottom: 20px;
}
