@import "./lib/_bootstrap-variables";
@import "./lib/_helpers";
@import "./lib/_tooltip";
@import "./lib/_event-editor";

/* Project-specific imports */
@import "./_loading";
@import "./_header";
@import "./_footer";

#esper-main {
  padding-bottom: 50px;
}

.date-page .esper-no-content {
  margin-bottom: 0;
  padding-top: 150px;
  padding-bottom: 150px;
}

.container.event-content, .container.date-page {
  .title {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: @brand-text-header;
  }

  @media screen and (max-width: @screen-xs-max) {
    .panel {
      margin-left:  0 - ceil((@grid-gutter-width / 2));
      margin-right: 0 - floor((@grid-gutter-width / 2));
      margin-bottom: 0;
      border-width: 1px 0 0 0;
      border-radius: 0;
    }
  }
}

.title-container {
  line-height: @input-height-base;;
}
