@import "./lib/_bootstrap-variables";
@import "./lib/_dropdown-modal";
@import "./lib/_expando";
@import "./lib/_event-editor";
@import "./lib/_new-labels-form";
@import "./lib/_timezone-selector";
@import "./lib/_helpers";

/* Project-specific imports */
@import "./_loading";
@import "./_header";
@import "./_footer";
@import "./time/_onboarding";
@import "./time/_chart";
@import "./time/_calendar";
@import "./time/_calendar-grid";
@import "./time/_labeling";
@import "./time/_list";
@import "./time/_notifications";

/* Header and footer animations */
@keyframes dropdown-nav {
  0% {
    top: -@navbar-height;
  }
  100% {
    top: 0;
  }
}

/* Basic Layout */
.navbar {
  animation: dropdown-nav 0.6s;
}
#esper-main {
  background: @body-bg;
  padding: @navbar-height 0;
  min-height: 50%;

  > .container:first-child {
    margin-top: @navbar-margin-bottom;
  }
}
