@import "./_bootstrap-variables";

.badge.light {
  background: transparent;
  color: @brand-text-muted;

  .esper-shade & {
    color: @shade-text-muted;
  }

  .esper-inverse & {
    color: @inverse-text-muted;
  }
}
