/*
  Style responsive replacement for dropdown enu
*/

@import "./_helpers";

.dropdown-modal-menu {
  .dropdown-menu {
    display: block;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    position: static;
    float: none;
    margin: 0;
    padding: 0;
  }
}
