/*
  Style React-enhanced Dropdown menu
*/

@import "./_helpers";
@import "./_animations";

// Rest of styling from Bootstrap
.dropdown-backdrop {
  background: rgba(0, 0, 0, 0.2);
  animation: fadein 0.3s ease-in-out;
  overflow: auto;

  // Styling done via JS normally, use static positioning for mobile only
  @media screen and (max-width: @screen-xs-max) {
    .dropdown-wrapper {
      padding: @esper-base-padding;
      max-height: 80vh;
      overflow: auto;
    }
  }

  // Get rid of position absolute because .dropdown-wrapper
  // should apply position. Float is also unnecessary.
  .dropdown-menu {
    position: static;
    float: none;
  }
}
