@import "../lib/_bootstrap-variables.less";
@import "../lib/_helpers";

.team-selector {
  position: fixed;
  z-index: @zindex-navbar-fixed;
  left: 0;
  bottom: 0;

  .dropdown-toggle {
    line-height: @input-height-base;
    padding: 0 @padding-base-horizontal;
    background: @brand-bg;
    color: white;
    box-shadow: @up-box-shadow;
  }

  @media (min-width: @screen-sm-min) {
    width: @sidebar-sm-width;

    .dropdown-toggle {
      border-top-right-radius: @border-radius-base;
    }
  }

  @media (min-width: @screen-md-min) {
    width: @sidebar-md-width;
  }

  @media (min-width: @screen-lg-min) {
    width: @sidebar-lg-width;
  }

  @media screen and (max-width: @screen-xs-max) {
    width: 100%;
  }
}

.sidebar-bottom-menu {
  .team-selector {
    position: static;
    min-width: 0;
    border-radius: 0;
    width: 100%;

    .dropdown-toggle {
      border-radius: 0;
    }
  }
}
