@max-timezone-height: 250px;

.esper-timezone-select-menu {
  overflow: auto;
  max-height: @max-timezone-height;

  .esper-no-content {
    margin: 0 @padding-small-horizontal @padding-small-vertical;
  }
}

.esper-timezone-filter-container {
  padding: 0 @padding-small-horizontal;

  .dropdown-modal-menu & { padding: 0; }
}
