// For calendar grid charts, not full calendar

@import "../lib/_helpers";
@import "../lib/_animations";

.calendar-grid-holder {
  .esper-expanded;
  .esper-expanded.padded;
  .esper-expanded.minus-subheader;

  padding-top: @padding-base-vertical;
}

table.calendar-grid {
  height: 95%;
  width: 100%;
  margin-bottom: @padding-large-vertical;
  table-layout:fixed;

  thead {
    height: 1em;
  }

  th {
    text-align: center;
  }

  td, th {
    vertical-align: top;
    border: 1px solid @table-border-color;
    width: calc(100% / 7);
    overflow: hidden;
  }

  .out-month {
    color: @gray-lighter;
  }

  .in-month .day-header {
    background: @gray-lighter;
  }

  .in-month.today {
    .day-header{
      background: @navbar-inverse-bg;
      color: @navbar-inverse-color;
    }
  }

  .day-header {
    text-align: right;
    padding: @padding-xs-vertical @padding-xs-horizontal;
  }

  .metrics-list {
    margin: @padding-xs-vertical @padding-xs-horizontal;
    padding: 1px @padding-xs-horizontal;
    font-size: 0.9em;

    .metric {
      animation: fadein 0.5s ease-in-out;
      cursor: default;
      display: inline-block;
      color: @brand-text;

      &.very-high-intensity {
        font-weight: bold;
        background: @brand-danger;
        border-radius: @border-radius-small;
        padding: 0 @padding-xs-horizontal;
        color: white;
      }

      &.high-intensity {
        font-weight: bold;
        color: @brand-warning;
      }

      &.med-intensity {
        opacity: 1.0
      }

      &.low-intensity {
        opacity: 0.8
      }

      &.zero-intensity {
        color: @brand-success;
        opacity: 0.8;
      }
    }

    .count-metric {
      float: right;
    }
  }

  .time-blocks-container {
    margin: @padding-xs-vertical @padding-xs-horizontal @padding-base-vertical;
    line-height: 1;
  }

  .time-block {
    transition: opacity 0.6s;
    opacity: 1.0;

    &:hover {
      opacity: 0.5;
    }
  }

  .time-segment {
    box-sizing: border-box;
    display: inline-block;
    height: floor((@font-size-base * 0.75));
    width: 1em; // Should get overriden in code -- but a default
    padding-right: 1px;

    > span {
      display: block;
      height: 100%;
      animation: extendwidth 0.5s ease-in-out;
      background: @gray-lighter;
    }

    &.active > span {
      background: @brand-primary;
      cursor: pointer;

      // Early => darken slightly
      &.row-0 {
        background: lighten(@brand-primary, 15%);
      }

      &.row-1 {
        background: @brand-primary;
      }

      &.row-2 {
        background: darken(@brand-primary, 15%);
      }
    }
  }
}
