@import "../lib/_helpers";

// Wrap to minimize chance of namespace conflict
.fullcalendar-holder {
  .esper-expanded;
  .esper-expanded.padded;

  // Import fullcalendar classes
  @import (less) "../../../node_modules/fullcalendar/dist/fullcalendar.css";

  // Style overrides go here
  .fc {
    .fc-toolbar {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: @padding-large-vertical;

      h1, h2, h3, h4, h5, h6 {
        font-size: @font-size-large;
        font-weight: bold;
        line-height: @input-height-base;
        vertical-align: middle;
      }

      button {
        border-color: @btn-default-border;
        color: @btn-default-color;
        background: @btn-default-bg;

        &:hover, {
          border-color: @link-color;
          color: @link-color;
          z-index: 5;
        }

        &:focus {
          outline: none;
        }

        &.fc-state-active, &.fc-state-down {
          box-shadow: none;
          text-shadow: none;
        }

        &.fc-state-active {
          border-color: @brand-bg;
          background-color: @brand-bg;
          color: white;

          &:hover {
            border-color: @brand-bg;
            color: white;
          }
        }

        .fc-icon {
          top: 0;
        }
      }
    }

    button {
      padding: 0 @padding-base-horizontal;
      height: @input-height-base;
      line-height: @input-height-base;
      vertical-align: middle;
    }

    .fc-event {
      background: white;
      border-color: @brand-info;
      color: #333;
      transition: box-shadow 0.6s;
      padding: @padding-xs-vertical @padding-xs-horizontal;
      user-select: none;

      &.selectable {
        cursor: pointer;
      }

      &.active {
        border-color: @brand-primary;
        font-weight: bold;
      }

      &.recurring-active, &.active {
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);

        /*
          Using !important is an anti-pattern, but since full-calendar
          applies some its styles inline, this appears to be the only way
          to get drop-shadows to appear correctly from an external stylesheet.
        */
        z-index: 3 !important;
      }

      &:hover, &:focus {
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
      }
    }

    .fc-today, .fc-unthemed .fc-today {
      background: #fffcec;
    }
  }
}
