@import "../lib/_helpers";

.chart-holder {
  .esper-expanded;
  .esper-expanded.padded;
  .esper-expanded.minus-subheader;

  padding-top: @padding-base-vertical;
}

@media screen and (max-width: @screen-xs-max) {
  #charts-page {

    .sidebar-toggle {
      text-align: center;
      color: @link-color;
      cursor: pointer;
    }
  }
}


