@import "../lib/_helpers";
@import "../lib/_animations";

// Header for chart
#chart-header {
  // Override default esper-content-header settings since the spacing looks off
  @media screen and (max-width: @screen-xs-max) {
    > .actions { margin-right: -@esper-base-padding; }
  }

  @media screen and (min-width: @screen-sm-min) {
    display: flex;
    align-items: center;
    > * { flex: 1 1 auto; }
    > .period-selector { flex-basis: 60%; }
    > .actions { flex-basis: 40%; }
  }

  .filter-action .active {
    color: @brand-success;
  }
}

.filter-menu {
  animation: slidedown 0.6s;
  border-radius: @border-radius-base;

  .filter-item {
    label { white-space: nowrap; }
    &.active label {
      color: @brand-success;
    }

    min-width: 100%;
    max-width: 100%;

    @media screen and (min-width: @screen-sm-min) {
      min-width: 25%;
      max-width: 33%;
      box-sizing: border-box;
    }

    @media screen and (min-width: @screen-md-min) {
      max-width: 25%;
    }
  }
}

// Single full-page chart
#chart-expanded {
  padding: 0 @esper-base-padding @esper-base-padding;

  .chart-content {
    position: relative;

    // For some reason, Highcharts bar charts spill over with some whitespace
    overflow-x: hidden;
  }

  .chart-holder {
    min-height: 400px;

    @media screen and (min-width: @screen-sm-min) {

      /*
        Makes height defaults to max available area (defined as 100% of
        screen height minus navbar, height of period selector, height
        of totals bar, and padding at bottom of #chart-expanded)
      */
      min-height: calc(~"100vh - "(@navbar-height + @content-header-height +
        @input-height-base + @esper-base-padding));
    }
  }
}

// Variant for release notes
.esper-release-notes + .navbar-fixed-top + * {
  #chart-expanded .chart-holder {
    @media screen and (min-width: @screen-sm-min) {
      min-height: calc(~"100vh - "(@navbar-height + @content-header-height +
        @input-height-base + @esper-base-padding + @release-notes-height));
    }
  }
}

.chart-holder-parent {
  position: relative;

  .highchart-drillup, .highchart-export {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
  }

  .highchart-drillup {
    top: 1px;
    left: 0;
  }

  .highchart-export {
    top: 1px;
    right: 0;
  }
}

.totals-bar {
  color: @brand-text;
  line-height: @input-height-base;
  vertical-align: middle;
  text-align: center;

  .period-total {
    .period-desc, .total-hours, .total-count {
      display: inline-block;
      padding-right: @padding-base-horizontal;
    }
  }

  .period-desc {
    font-weight: bold;
  }
}

.chart-content {
  position: relative;
}

@media (min-width: @screen-sm-min) {
  .chart-content .chart-holder-parent {
    position: static; // Remove relative because chart-content is handling
  }

  .totals-bar {
    display: flex;
    padding: 0 (@input-height-base * 1.5);

    .period-total {
      display: inline-block;
      flex-grow: 1;
      text-align: center;
    }
  }
}
