.event-star-ratings {
  @media (max-width: @screen-xs-max) {
    text-align: center;

    // Make wider on mobile so easier to tap
    .action {
      width: @input-height-base;
      padding: 0 @padding-base-horizontal;
    }
  }
}
