.event-star-ratings {
  @media (max-width: @screen-xs-max) {
    text-align: center;

    // Make wider on mobile so easier to tap
    .action {
      width: @input-height-base;
      padding: 0 @padding-base-horizontal;
    }
  }
}

.esper-left-sidebar {
  .event-star-ratings, .event-no-attend {
    width: 100%;
    float: none;
    text-align: center;
  }
}

.event-min-feedback {
  font-style: italic;
  font-size: 90%;
  padding: 0 @padding-base-horizontal;

  a.action {
    color: @text-muted;

    &.active {
      color: @link-color;
    }

    &:hover {
      color: @link-hover-color;
    }
  }
}

.event-list .event, .event-details {
  .time {
    color: @gray-light;
    font-size: @font-size-small;
    white-space: nowrap;
    display: inline-block;
    margin-right: @padding-small-horizontal;
  }

  .location, .guests, .description {
    font-size: @font-size-small;
  }

  .description {
    padding-top: @padding-small-vertical;
    max-height: 5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    &:focus, &:hover {
      max-height: none;
      display: block;
    }
  }
}

.title, .fc-event, .fc-event:hover {
  &.no-attend {
    text-decoration: line-through;
  }

  .no-title {
    font-style: italic;
    font-size: 90%;
  }
}

/* Special compact handling for sidebar */
.sidebar-event-editor {
  .time {
    display: none;
  }

  .description { padding-top: 0; }

  .description, .guests {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    &:hover {
      white-space: normal;
    }
  }
}
