@import "../lib/_bootstrap-variables.less";
@import "./_time-variables.less";

.list-selectors {
  padding: 0 @padding-small-horizontal;
  margin: 0;

  @media (min-width: @screen-sm-min) {
    padding: 0;
  }

  .unconfirmed.badge.active {
    background: @needs-confirmation-color;
  }
}

.list-filter-msg, .list-action-menu-container {
  margin: 0 auto;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  @media (min-width: @screen-sm-min) {
    max-width: @container-sm - @grid-gutter-width;
  }

  @media (min-width: @screen-md-min) {
    max-width: @container-md - @grid-gutter-width;
  }

  @media (min-width: @screen-lg-min) {
    max-width: @container-lg - @grid-gutter-width;
  }

  > .action {
    float: left;
    padding-right: @padding-large-horizontal;

    &:last-child {
      padding-right: 0;
    }
  }

  > .pull-right {
    > * {
      display: inline-block;
      padding-right: @padding-large-horizontal;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

// An empty object that only gets rendered when action menu is pinned
.list-action-menu-filler {
  height: @line-height-computed;
  box-sizing: content-box;
}

.list-filter-msg, .list-action-menu, .list-action-menu-filler {
  margin: @padding-base-vertical 0;
  padding: @padding-base-vertical
    (@padding-large-horizontal + @border-radius-base);
  border-radius: @border-radius-base;

  @media (max-width: @screen-xs-max) {
    border-radius: 0;
  }
}

.list-filter-msg {
  border-width: 1px;
  border-style: solid;
  border-color: @panel-default-border;
}

.list-action-menu {
  &.pinned {
    position: fixed;
    top: @navbar-height;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border-width: 0 0 1px;
    padding: 0;
    z-index: @zindex-navbar-fixed - 1;
    animation: action-pinned 0.6s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);

    .list-action-menu-container {
      padding: @padding-large-vertical @padding-large-horizontal;
    }
  }
}

// Pulsing in and out
@keyframes action-pinned {
  0% {
    top: 0;
  } 100% {
    top: @navbar-height;
  }
}

.event-list {
  .event-checkbox {
    width: @event-checkbox-width;
    float: left;
    cursor: pointer;
  }

  .day {
    .day-title {
      font-weight: bold;
      margin-bottom: @padding-small-vertical;
      padding: 0 @padding-small-horizontal;
      color: @text-muted;
    }

    &.future {
      .day-title { color: @text-color; }
    }

    &.today {
      .day-title {
        color: @today-color;
      }
    }

    .event {
      border-left: 1px solid @list-group-border;

      &.has-labels {
        border-left: @border-radius-base solid @confirmed-color;
      }

      &.needs-confirmation {
        border-left: @border-radius-base solid @needs-confirmation-color;
      }

      /*
        Uncomment to shade past-event titles -- current commented out because
        this doesn't seem to add anything at the moment
      */
      // &.past .title {
      //   color: @text-muted;
      // }

      .event-checkbox + .event-content {
        margin-left: @event-checkbox-width;
      }

      @media (max-width: @screen-xs-max) {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
      }

      .event-feedback {
        display: inline-block;
        color: @text-muted;
      }

      .no-attend-action {
        float: right;
      }

      .title {
        @media (min-width: @screen-sm-min) {
          display: inline-block;
        }
        margin-right: @padding-small-horizontal;
        cursor: pointer;
        &:hover, &:focus {
          color: @link-hover-color;
          text-decoration: underline;
        }
      }
    }

    .label-list-actions {
      margin-right: @padding-small-horizontal;
      border-right: 1px solid @brand-divider;
    }

    .event-label, .label-list-action {
      padding: @padding-xs-vertical @padding-xs-horizontal;
      margin-top: @padding-small-vertical;
      margin-right: @padding-xs-horizontal;
      border-radius: @border-radius-small;
      display: inline-block;
      cursor: pointer;
      border: 1px solid @brand-text-muted;
      color: @brand-text-muted;

      &.confirm-action {
        color: @brand-text-muted;
        border: 0;

        &:hover {
          color: @brand-success;
        }
      }
    }

    .label-list-action {
      &:hover {
        color: @link-color;
        border-color: @link-color;
      }

      &.active {
        background: @link-color;
        color: white;
      }
    }

    .event-label {
      &:hover, &.active {
        filter: brightness(115%);
      }
    }

    .label-score {
      padding-left: @padding-xs-horizontal;
      font-size: @font-size-small;
      line-height: @line-height-small;
    }
  }
}
