@import "../lib/_bootstrap-variables.less";

@event-checkbox-width: 28px;
@today-color: @brand-bg;
@unlabeled-color: @list-group-border;
@labeled-color: @brand-primary;
@past-event-background: @gray-lighter;

.list-selectors {
  padding: 0 @padding-small-horizontal;
  margin: 0;

  @media (min-width: @screen-sm-min) {
    padding: 0;
  }
}

.list-filter-msg, .list-action-menu-container {
  margin: 0 auto;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  @media (min-width: @screen-sm-min) {
    max-width: @container-sm - @grid-gutter-width;
  }

  @media (min-width: @screen-md-min) {
    max-width: @container-md - @grid-gutter-width;
  }

  @media (min-width: @screen-lg-min) {
    max-width: @container-lg - @grid-gutter-width;
  }

  > .action {
    float: left;
    padding-right: @padding-large-horizontal;

    &:last-child {
      padding-right: 0;
    }
  }

  > .pull-right {
    > * {
      display: inline-block;
      padding-right: @padding-large-horizontal;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.list-filter-msg, .list-action-menu {
  margin: @padding-base-vertical 0;
  padding: @padding-base-vertical
    (@padding-large-horizontal + @border-radius-base);
  border-radius: @border-radius-base;

  @media (max-width: @screen-xs-max) {
    border-radius: 0;
  }
}

.list-filter-msg {
  border-width: 1px;
  border-style: solid;
  border-color: @panel-default-border;
}

.list-action-menu {
  background: @navbar-inverse-bg;
  color: @navbar-inverse-color;
  border-color: @navbar-inverse-border;

  &.pinned {
    position: fixed;
    top: @navbar-height;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border-width: 0 0 1px;
    padding: 0;
    z-index: @zindex-navbar-fixed - 1;
    animation: action-pinned 0.6s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);

    .list-action-menu-container {
      padding: @padding-large-vertical @padding-large-horizontal;
    }

    a {
      color: @navbar-inverse-link-color;

      &:hover, &:focus {
        color: @navbar-inverse-link-hover-color;
        background: @navbar-inverse-link-hover-bg;
      }
    }
  }
}

// Pulsing in and out
@keyframes action-pinned {
  0% {
    top: 0;
  } 100% {
    top: @navbar-height;
  }
}

.event-list {
  .event-checkbox {
    width: @event-checkbox-width;
    float: left;
    cursor: pointer;
  }

  .day {
    .day-title {
      font-weight: bold;
      margin-bottom: @padding-small-vertical;
      padding: 0 @padding-small-horizontal;
      color: @gray-light;
    }

    &.future {
      .day-title { color: @gray-dark; }
    }

    &.today {
      .day-title {
        color: @today-color;
      }
    }

    .event {
      border-left: @border-radius-base solid @unlabeled-color;

      &.has-labels {
        border-left: @border-radius-base solid @labeled-color;
      }

      &.past {
        background: @past-event-background;
      }

      .event-checkbox + .event-content {
        margin-left: @event-checkbox-width;
      }

      @media (max-width: @screen-xs-max) {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
      }

      .event-rating {
        display: inline-block;
        color: @text-muted;
        float: right;
      }

      .title {
        @media (min-width: @screen-sm-min) {
          display: inline-block;
        }
        margin-right: @padding-small-horizontal;
        cursor: pointer;
        &:hover, &:focus {
          color: @link-hover-color;
          text-decoration: underline;
        }
      }
    }

    .add-event-label, .event-label {
      padding: @padding-xs-vertical @padding-xs-horizontal;
      margin-top: @padding-small-vertical;
      margin-right: @padding-xs-horizontal;
      border-radius: @border-radius-small;
      display: inline-block;
      cursor: pointer;
      border: 1px solid @link-color;
      color: @link-color;

      &:hover {
        filter: brightness(110%);
      }
    }

    .label-score {
      padding-left: @padding-xs-horizontal;
      font-size: @font-size-small;
      line-height: @line-height-small;
    }
  }
}
