@import "../lib/_bootstrap-variables.less";

#list-header {
  @media screen and (max-width: @screen-xs-max) {
    > .actions { display: none; }
  }

  @media screen and (min-width: @screen-sm-min) {
    display: flex;
    align-items: center;
    > * { flex: 1 1 auto; }
    > .actions { flex: 0 0 auto; }
  }
}

#list-view {
  // Medium sized screens -> hide some text in header to fit stuff
  @media screen and (max-width: @screen-sm-max) {
    .esper-content-header {
      .btn {
        .fa-left ~ *, span ~ * {
          display: none;
        }
        .fa-left { margin-right: 0; }
      }
    }
  }

  .unselect-action {
    color: @shade-text-header;
    text-transform: capitalize;
    font-weight: bold;

    .fa {
      float: right;
      line-height: @line-height-computed;
      color: @shade-text-muted;
    }

    &:hover .fa { color: @shade-text-header; }
  }

  .aggregate-hours {
    color: @shade-text-muted;
  }
}

.month-view {
  margin: @esper-base-padding;

  @media screen and (min-width: @screen-sm-min) {
    .calendar-grid {
      // Same min-height as charts page
      min-height: calc(~"100vh - "(@navbar-height + @content-header-height +
        @input-height-base + @esper-base-padding));
    }
  }
}

// Override defaults for week-view since we're using position sticky
.week-view {
  height: auto;

  .week-headings{
    position: sticky;
    top: @content-header-height;
    background: fadeout(@panel-bg, 10%);
    z-index: @zindex-navbar;
  }

  .week-headings, .week-scrollable {
    overflow: auto;
  }
}

// Same for month view
.month-view {
  th {
    position: sticky;
    top: @content-header-height;
    z-index: @zindex-navbar;
  }

  th, td {
    background: fadeout(@panel-bg, 10%);
  }
}

.week-view, .month-view {
  .event {
    margin: 1px;
    border: 1px solid @brand-border;
    padding: 2px;
    font-size: @font-size-small;
    min-height: 100%;
    background: @shade-bg;
    border-radius: @border-radius-small;

    .fa.check {
      padding-right: @padding-xs-horizontal;
      cursor: pointer;
    }

    &.selected {
      font-weight: bold;
      box-shadow: @default-box-shadow;
    }

    &.inactive {
      text-decoration: line-through;
    }
  }

  .stacked-event .event {
    height: 100%;
    min-height: @line-height-computed;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .today .day-number, .today.week-date {
    font-weight: bold;
    color: @brand-info;
  }
}


@media screen and (max-width: @screen-xs-max) {
  .container.filter-list {
    /*
      Bootstrap normally applies a small amount of padding, but we want this
      view to be full-screen on mobile.
    */
    padding: 0;

    .list-selectors {
      padding: 0 @esper-base-padding;
    }
  }
}

.list-filter-msg, .list-action-menu-container {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  > .action {
    float: left;
    padding-right: @padding-large-horizontal;

    &:last-child {
      padding-right: 0;
    }
  }

  > .pull-right {
    > * {
      display: inline-block;
      padding-right: @padding-large-horizontal;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

// An empty object that only gets rendered when action menu is pinned
.list-action-menu-filler {
  height: @line-height-computed;
  box-sizing: content-box;
}


.list-filter-msg, .list-action-menu, .list-action-menu-filler {
  padding: @padding-base-vertical @esper-base-padding;
  border-radius: @border-radius-base;
}

.list-action-menu, .list-action-menu-filler {
  margin: @esper-base-padding 0;

  @media (max-width: @screen-xs-max) {
    border-radius: 0;
  }
}

.list-filter-msg {
  border-width: 1px;
  border-style: solid;
  border-color: @panel-default-border;
  margin: @esper-base-padding 0;
}

.list-filter-msg, .esper-no-content {
  @media (max-width: @screen-xs-max) {
    margin-left: @esper-base-padding;
    margin-right: @esper-base-padding;
  }
}

.list-action-menu {
  &.pinned {
    position: fixed;
    top: @navbar-height;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border-width: 0 0 1px;
    padding: 0;
    z-index: @zindex-navbar-fixed - 1;
    animation: action-pinned 0.6s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);

    .list-action-menu-container {
      padding: @padding-base-vertical @esper-base-padding;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: @screen-sm-min) {
        max-width: @container-sm - @grid-gutter-width;

        // To line up with checkbox in list. +1 for border.
        padding-left: @esper-base-padding + @date-width + 1;
      }

      @media (min-width: @screen-md-min) {
        max-width: @container-md - @grid-gutter-width;
      }

      @media (min-width: @screen-lg-min) {
        max-width: @container-lg - @grid-gutter-width;
      }
    }
  }
}

// Pulsing in and out
@keyframes action-pinned {
  0% {
    top: 0;
  } 100% {
    top: @navbar-height;
  }
}
