@import "../lib/_bootstrap-variables.less";

.report {
  width: 100%;
  max-width: @screen-md-min;
  margin: 0 auto @esper-base-padding * 3;
  padding: 0 @esper-base-padding;
  background: @brand-contrast;
  border-radius: @border-radius-base;

  // Padding-bottom doesn't work for some reason
  > *:last-child {
    margin-bottom: @esper-base-padding;
  }

  h1, h2, h3, h4 {
    text-transform: capitalize;
  }

  .topline {
    h1, h2, h3, h4 {
      margin-top: @esper-base-padding;
    }
  }

  @media screen and (min-width: @screen-sm-min) {
    .report-section {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;

      .description {
        flex: 1 30%;
      }

      .chart-content {
        flex: 2 65%;
        margin-left: @esper-base-padding;

        .chart-holder { height: 300px; }
      }

      .wide {
        flex: 1 100%;

        .chart-content {
          margin-left: 0;
          .chart-holder { height: auto; }
        }
      }
    }
  }
}
