@import "../lib/_bootstrap-variables.less";

.report {
  width: 100%;
  max-width: @screen-md-min;
  margin: 0 auto @esper-base-padding * 3;
  padding: 0 @esper-base-padding;
  background: @brand-contrast;
  border-radius: @border-radius-base;

  // Padding-bottom doesn't work for some reason
  > *:last-child {
    margin-bottom: @esper-base-padding;
  }

  h1, h2, h3, h4 {
    text-transform: capitalize;
  }

  .topline {
    h1, h2, h3, h4 {
      margin-top: @esper-base-padding;
    }
  }

  @media screen and (min-width: @screen-sm-min) {
    .description.narrow, .description.narrow + .chart-content {
      display: inline-block;
      vertical-align: top;
    }

    .description.narrow {
      width: 35%;
    }

    .description.narrow + .chart-content {
      padding-top: @line-height-computed;
      margin-left: 4%;
      width: 60%;
      .chart-holder { height: 300px; }
    }
  }
}
