{#
  This is the default base template used by most of the  HTML pages. Defaults are
  are intended for use in landing pages, but you can override pretty much
  everything else via block extensions.

#}<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Esper{% endblock %}</title>
  {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/vendor.css" media="screen">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  {% endblock %}

  {#
    NB: Anti-clickjack code is not in head block because this should be
    enabled by default. Turning off anti-clickjacking protection to allow
    iframing should be a conscious decision -- not one caused by forgetting
    to call super().
  #}
  {% include "_anti-clickjack.html" %}
</head>

<body class="esper {{ BODY_CLASS }}">{% block body %}
  {% block header %}{% endblock %}

  {% block main %}
    <div id="esper-main">
      {# This should get cleared after initial render #}
      <div id="esper-loading">
        <div class="esper-center">
          <div class="esper-spinner"></div>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block footer %}{% endblock %}

  {% block postfooter %}
    {% block modal %}
      <div id="esper-modal"></div>
    {% endblock %}
  {% endblock %}

  {% block postscripts %}
    {% include "_intercom.html" %}
    {% include "_segment.html" %}
    {% include "_raven.html" %}
  {% endblock %}
{% endblock %}</body>
</html>
