{#
  Test runner page base
#}

{% extends "_base.html" %}

{% block title %}Esper | Jasmine Spec Runner{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/jasmine/jasmine.css">
  <script src="/jasmine/jasmine.js"></script>
  <script src="/jasmine/jasmine-html.js"></script>
  <script src="/jasmine/boot.js"></script>
  <script type="text/javascript">
    function toggleTestFrame() {
      "use strict"; /* global document */
      var elm = document.getElementById("esper-test-frame-container");
      elm.className = elm.className ? "" : "hide";
    }
  </script>
  <style>
    body {
      padding-bottom: 50px;
    }

    #esper-test-frame-container {
      background: #007069;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      min-width: 5px;
      max-width: 0;
      overflow-x: hidden;
      overflow-y: auto;
      transition: max-width 0.6s left 0.6s;
      z-index: 1000;
    }

    #esper-test-frame-container:hover {
      max-width: 80%;
    }

    .esper-test-frame {
      border: 1px solid #007069;
      resize: both;
      width: 600px;
      overflow: auto;
      display: block;
      clear: both;
      margin: 5px 20px 5px 5px;
    }

    .jasmine_html-reporter {
      margin: 0;
    }
  </style>
{% endblock %}

{% block body %}
  <div id="esper-test-frame-container">
  </div>

  {% block testscripts %}{% endblock %}
{% endblock %}
