{# Base template for complex "app" pages with lots of JavaScript and stuff #}
{% extends '_base.html' %}

{% block body %}
  {% block header %}
    <div id="esper-header"></div>
  {% endblock %}

  {% block main %}
    <div id="esper-main"></div>
  {% endblock %}

  {% block footer %}
    <div id="esper-footer"></div>
  {% endblock %}

  {% block loading %}
    <div id="esper-loading">
      <div class="esper-center">
        <div class="esper-spinner"></div>
      </div>
    </div>
  {% endblock %}

  {% block modal %}
    <div id="esper-modal"></div>
  {% endblock %}

  {% block postscripts %}
    {% include "_segment.html" %}
    {% include "_olark.html" %}
    {% include "_raven.html" %}
  {% endblock %}
{% endblock %}
