{# Base template for complex "app" pages with lots of JavaScript and stuff #}
{% extends '_base.html' %}

{% block head %}
  {# Default head data for app pages #}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link rel="stylesheet" href="css/vendor.css" media="screen">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
{% endblock %}

{# Clear header by default -- app will re-render inside main probably #}
{% block header %}{% endblock %}

{% block main %}
  <div id="esper-main">
    {# This should get cleared after initial render #}
    <div id="esper-loading">
      <div class="esper-center">
        <div class="esper-spinner"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block postfooter %}
  {% block modal %}
    <div id="esper-modal"></div>
  {% endblock %}
{% endblock %}

{% block postscripts %}
  {% include "_segment.html" %}
  {% include "_raven.html" %}
{% endblock %}
