{#
  This is the default base template used by most of the  HTML pages. Defaults are
  are intended for use in landing pages, but you can override pretty much
  everything else via block extensions.

#}<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Esper{% endblock %}</title>
  {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/landing-vendor.js"></script>

    {# Optimizely should go after vendor ensure jQuery loaded #}
    {% include "_optimizely.html" %}

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" />
    <link rel="stylesheet" href="css/vendor.css" media="screen">
    <link rel="stylesheet" href="css/default.css" media="screen">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  {% endblock %}
</head>

<body class="esper">{% block body %}
  {% block header %}
    {% include "_navbar.html" %}
    {% include "_nav-menu.html" %}
  {% endblock %}

  {% block main %}{% endblock %}

  {% block footer %}
    {% include "_footer.html" %}
  {% endblock %}

  {% block postscripts %}
    {% include "_segment.html" %}
    {% include "_olark.html" %}
    {% include "_raven.html" %}
    <script src="js/landing.js"></script>
  {% endblock %}
{% endblock %}</body>
</html>
