{#
  This is the default base template used by most of the  HTML pages. Defaults are
  are intended for use in landing pages, but you can override pretty much
  everything else via block extensions.

#}<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Esper{% endblock %}</title>
  {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/landing-vendor.js"></script>

    {# Optimizely should go after vendor ensure jQuery loaded #}
    {# NB: 2016-05-02 - Disabling Optimizely since no experiment running
      {% include "_optimizely.html" %}
    #}

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" />
    <link rel="stylesheet" href="css/vendor.css" media="screen">
    <link rel="stylesheet" href="css/default.css" media="screen">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  {% endblock %}

  {#
    NB: Anti-clickjack code is not in head block because this should be
    enabled by default. Turning off anti-clickjacking protection to allow
    iframing should be a conscious decision -- not one caused by forgetting
    to call super().
  #}
  {% include "_anti-clickjack.html" %}
</head>

<body class="esper {{ BODY_CLASS }}">{% block body %}
  <div id="esper-header">
    {% block header %}
      {% include "_navbar.html" %}
      {% include "_nav-menu.html" %}
    {% endblock %}
  </div>

  <div id="esper-main">
    {% block main %}{% endblock %}
  </div>

  <div id="esper-footer">
    {% block footer %}
      {% include "_footer.html" %}
    {% endblock %}
  </div>

  {% block postfooter %}{% endblock %}

  {% block postscripts %}
    {% include "_segment.html" %}
    {% include "_raven.html" %}
    <script src="js/landing.js"></script>
  {% endblock %}
{% endblock %}</body>
</html>
