{% extends "_base.html" %}

{% block title %}Email Confirmation | Esper{% endblock %}

{% block main %}
  <!-- Splash -->
  <div class="splash-content splash-purple">
    <div class="splash-navbar clearfix"></div>
    <div class="splash-text-container">
      <div class="splash-text">
        <h1>Almost done..</h1>
      </div>
    </div>
  </div>

  <!-- Overview -->
  <div class="section-container gray left-align">
    <div class="section-content narrow">
      <p>We need to make sure that you're a real person with a real email. To complete the process, please confirm through the email we just sent you.</p>
      <p>In the mean time, feel free to visit the rest of our site or
      <a href="/contact">contact us</a>
      if you have any questions.
      </p>
      <p>&#8212; The Esper Team</p>
    </div>
  </div>
{% endblock %}
