{% extends "_base.html" %}

{% block title %}Front End Engineer | Esper{% endblock %}

{% block main %}
  <!-- Splash -->
  <div class="splash-content splash-purple short">
    <div class="splash-text-container">
      <div class="splash-text">
        <a href="careers" class="splash-label">JOBS</a>
        <h1>Front End Engineer</h1>
      </div>
    </div>
  </div>

  <div class="section-container left-align">
    <div class="section-content narrow">
      <p>
        We're looking for a front-end developer to help our users better manage
        their time. Esper is currently a small team, so you'll be involved in
        every aspect of product design, planning, and development.
      </p>

      <h4>The Stack</h4>
      <p>
        We currently use
        <a href="http://www.typescriptlang.org/">Typescript</a>,
        <a href="https://facebook.github.io/react/">React</a>,
        <a href="http://lesscss.org/">LESS</a>, and
        <a href="http://getbootstrap.com/">Bootstrap</a>. We don't
        require prior experience with these technologies, only a willingness to
        learn. We're open to experimenting with new tools, but you should also
        be comfortable working with the codebase as it's currently written.
      </p>

      <h4>Requirements</h4>
      <ul>
        <li>You have a good grasp of Javascript fundamentals.</li>
        <li>You can write clean, testable code (and actual tests).</li>
        <li>You have an eye for good design and pay attention to the little
          things.</li>
        <li>You're willing to take ownership of a feature and make sure it
          ships.</li>
        <li>You've thought a lot about time management and how to improve
          it.</li>
        <li>You're okay with color purple.</li>
      </ul>

      <h4>Bonus Points</h4>
      <ul>
        <li>You've developed user interfaces on mobile.</li>
        <li>You've worked in a startup environment or have side projects of
          your own.</li>
        <li>You have experience with <a href="https://ocaml.org/">OCaml</a>
          (which we use on the backend) or other functional programming
          languages.</li>
        <li>You enjoy a good game of
          <a href="https://en.wikipedia.org/wiki/Bughouse_chess">Bughouse</a>.
        </li>
      </ul>
    </div>
  </div>
  <div class="section-container gray left-align">
    <div class="section-content narrow">
      <p>For more information or to apply,
        <a href="contact">send us an e-mail</a>.
      </p>
    </div>
  </div>
{% endblock %}
