{% extends "_base.html" %}

{% block title %}Charts | Esper{% endblock %}

{% block main %}
  <!-- Splash -->
  <div class="splash-content splash-purple short">
    <div class="splash-text-container">
      <div class="splash-text">
        <h1>Help</h1>
        <h2>Charts and Analysis</h2>
      </div>
    </div>
  </div>

  <div class="section-container left-align">
    <div class="section-content clearfix narrow short">
      <h4>Calendar Hours</h4>
      <img class="chart-img" src="/img/calendar-hours.png" />
      <p>This bar chart shows the total amount of hours you've allocated to
      each of your calendars. If you have separate work and personal calendars,
      you can use this chart to compare how much time you're allocating
      between your professional and personal goals.</p>

      <p>Each segment in the bar
      chart represents an event. Hover over
      or click them for more details on that event.</p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>Calendar Percentages</h4>
      <img class="chart-img" src="/img/calendar-percentages.png" />
      <p>This stacked bar chart shows the relative percentage of time between
      each of your calendars. If you have separate work and personal calendars,
      you can use this chart to compare how much time you're allocating
      between your professional and personal goals.</p>

      <p>Click on a bar segment to
      see the list of events that count towards that segment.</p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>Calendar Pie Chart</h4>
      <img class="chart-img" src="/img/calendar-hours.png" />
      <p>This pie chart shows relative percentages you've allocated to
      each of your calendars. This works just like the "Calendar Percentages"
      stacked bar chart, except it's a pie.</p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>Event Durations</h4>
      <img class="chart-img" src="/img/durations.png" />
      <p>This histogram groups your events by how long they take. You can use
      this chart to spot unusually long events or to check whether your time is
      being taken up by a few big events or lots of little things.</p>

      <p>Each segment in the bar
      chart represents an event. Hover over
      or click them for more details on that event.
      </p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>Guest Groups Pie Chart</h4>
      <img class="chart-img" src="/img/guests-pie.png" />
      <p>This pie chart shows which groups or organizations (as determined by
      e-mail address) are the most common among guests invited to events on
      your calendar. You can use this chart
      to make sure you're spending time with the right people.</p>

      <p>Click on a segment of the pie to drill down into how much
      time you spend with each person in that group.</p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>Label Hours</h4>
      <img class="chart-img" src="/img/label-hours.png" />
      <p>This bar chart shows the total number of hours allocated to
      your own custom categories over fixed intervals of time. You can use this
      to figure out whether you're on track to hit your goals.</p>

      <p>Each segment in the bar
      chart represents an event. Hover over
      or click them for more details on that event.</p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>Label Percentages</h4>
      <img class="chart-img" src="/img/label-percentages.png" />
      <p>This stacked bar chart shows the relative allocation of time between
      each of your different custom categories. You can use this to see if
      you're spending too much time on the wrong things.</p>

      <p>Click on a bar segment to
      see the list of events that count towards that segment</p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>Label Pie Chart</h4>
      <img class="chart-img" src="/img/label-pie.png" />
      <p>This stacked bar chart shows the relative allocation of time between
      each of your different custom categories. This works just like the
      "Labels Percentages" stacked bar chart, except it's a pie.</p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>Monthly Overview</h4>
      <img class="chart-img" src="/img/monthly-overview.png" />
      <p>This calendar grid shows you how many events and how much time you're
      scheduled for on each day of the month. If you have custom labels
      defined, it will colorize each day based on which labels apply to that
      day. You can use this to get a quick heads-up view of how your week or
      month is headed.</p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>Top Guests</h4>
      <img class="chart-img" src="/img/top-guests.png" />
      <p>This bar chart lists the people who are most frequently
      invited to events on your calendar. You can use this chart to make
      sure you're spending enough time with the right people.</p>

      <p>Each segment in the bar
      chart represents an event. Hover over
      or click them for more details on that event.
      </p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>A Note on Percentages</h4>
      <a name="percentages-note"></a>
      <p>If you have overlapping calendar events, Esper will adjust the
      <em>percentage</em> of time allocated to each event by dividing the
      overlapping time evenly among each event. Therefore, a one-hour
      event may occupy more space on a pie chart than another one-hour
      event if the latter overlaps another event.</p>
      <p>Esper will also divided time evenly between different categories
      of events depending on the chart. For example, in the Guest Groups
      Pie Chart, time is divided evenly between each attendee in the meeting.
      </p>
    </div>

    <div class="section-content clearfix narrow short">
      <h4>Want Something Else?</h4>
      <p>Esper is in beta, and we've currently limited the time
      period and types of charts you can get online. If you have a
      something specific you want charted or analyzed,

      <a href="https://twitter.com/esper_co">tweet us a request!</a></p>

      <a href="https://twitter.com/intent/tweet?screen_name=esper_co&text=Show%20me%20how%20I'm%20spending%20my%20time%20%40esper_co" class="twitter-mention-button" data-size="large">Tweet to @esper_co</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>


{% endblock %}
