{% extends "_base.html" %}

{% block main %}
<!-- Splash -->
<div class="splash-content large" style="background-image:url(img/splash_home.jpg)">
  <div class="splash-text-container" align="center">
    <div class="splash-text" style="padding-bottom: 30px">
      <h1 style="padding-bottom: 30px"><b>Make time great again.</b></h1>
      <h2 class="splash-text-subheader">
        Sign up with your calendar provider to get actionable insights.
      </h2>
    </div>
    <div class="text-center">
      <div class="visible-xs-block visible-sm-inline visible-md-inline
                  visible-lg-inline">
        <a href="/login?platform=google">
          <button class="btn btn-primary sign-in-btn google-btn">
            <div class="sign-in-icon">
              <i class="fa fa-fw fa-google"></i>
            </div>
            <div class="sign-in-text">Google Account</div>
          </button>
        </a>
      </div>
      <div class="visible-xs-block visible-sm-inline visible-md-inline
                  visible-lg-inline">
        <a href="/login?platform=exchange">
          <button class="btn btn-primary sign-in-btn exchange-btn">
            <div class="sign-in-icon">
              <img src="img/exchange.svg" />
            </div>
            <div class="sign-in-text">Microsoft Exchange</div>
          </button>
        </a>
      </div>
      <div>
        <a href="/login?platform=nylas">
          <button class="btn btn-tertiary sign-in-btn">
            Other Provider
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Prominent Users-->
<div class="container users-container">
  <h2 class="users-text" style="margin: 0px;">Trusted by executives at</h2>
  <a href="http://www.codeforamerica.org/" target="_blank" class="users-logo">
    <img class="default" src="img/codeforamerica_logo.png">
  </a>
  <a href="https://www.dropbox.com/" target="_blank" class="users-logo">
    <img class="default" src="img/dropbox_logo.png">
  </a>
  <a href="https://www.uber.com/" target="_blank" class="users-logo">
    <img class="default" src="img/uber_logo.png">
  </a>
  <span class="no-break">
    <a href="https://law.stanford.edu/" target="_blank" class="users-logo">
      <img class="default" src="img/stanford_law_logo.jpeg">
    </a>
    <a href="http://opengov.com/" target="_blank" class="users-logo">
      <img class="default" src="img/opengov_logo.png">
    </a>
  </span>
</div>

<!-- Feature 1 -->
<div class="section-container gray">
  <div class="feature-container">
    <div class="feature-image right-col">
      <img src="img/TimeStats_gif.gif">
    </div>
    <div class="feature-text left-col">
      <h3 class="section-title" style="margin-top: 0px;">
        Categorize calendar events.</h3>
      <p>Take the hassle out of time tracking. Esper lets you quickly label
      your calendar events and assign the semantic meaning missing from your
      calendar.</p><br>
      <a href="/time">
        <center><button class="button-primary green index">
          Try it free
        </button></center>
      </a>
    </div>
  </div>
</div>

<!-- Built-in Organization
<a name="learn"></a>
<div class="section-container gray">
  <div class="section-content narrow index">
    <h3 class="section-title">BUILT-IN ORGANIZATION</h3>
  </div>
</div>-->

<!-- Feature 2 -->
<div class="section-container">
  <div class="feature-container">
    <div class="feature-image left-col">
      <img src="img/stacked_bar_chart.png">
    </div>
    <div class="feature-text right-col">
      <h3 class="section-title" style="margin-top: 0px;">View your calendar
      breakdown.</h3>
      <p>Get a visual representation of how you spend your time. Transform your
      calendar into sleek charts using your own categories. Stop using
      spreadsheets to chart your data. We'll do it for you.</p><br>
      <a href="/time">
        <center><button class="button-primary green index">
          Try it free
        </button></center>
      </a>
    </div>
  </div>
</div>

<!-- Feature 3 -->
<div class="section-container gray">
  <div class="feature-container">
    <div class="right-col feature-image">
      <img src="img/pie_chart.png">
    </div>
    <div class="left-col feature-text">
       <h3 class="section-title" style="margin-top: 0px;">
        Gain actionable insights.</h3>
      <p>Request custom reports to identify time sinks, see trends, and make
      smart scheduling decisions. We'll help you understand where the hours
      went and how to get them back.</p><br>
      <a href="/time">
        <center><button class="button-primary green index">
          Try it free
        </button></center>
      </a>
    </div>
  </div>
</div>

<!-- Feature 4
<div class="section-container gray">
  <div class="feature-container">
    <div class="feature-image right-col">
      <img class="feature-image-small" src="img/Feature_TaskList.png">
    </div>
    <div class="feature-text left-col">
      <h3 class="section-title">Something important is written here.</h3>
      <p>blah blah blah this gif has lots of cool stuff</p><br>
      <a href="/time">
        <button class="button-primary green index">
          Get Started</i>
        </button>
      </a>
    </div>
  </div>
</div>
-->

<!-- Streamlined Communication
<div class="section-container">
  <div class="section-content narrow index">
    <h3 class="section-title">STREAMLINED COMMUNICATION</h3>
  </div>
</div>-->

<!-- Feature 5
<div class="section-container">
  <div class="feature-container">
    <div class="feature-text-left-col-small">
      <h3 class="section-title">Esper Executive iOS App.</h3>
      <p>With the Esper Executive App, Executives can send new tasks, answer
      questions with a single touch, and receive all the context needed before
      each meeting. Best of all, the Esper Executive App dovetails directly
      with Esper for Executive Assistants into one cohesive communication
      system for your team.</p><br>
      <a href="https://chrome.google.com/webstore/detail/esper/jabkchbdomjjlbahjdjemnnghkakfcog">
        <button class="button-primary green index">
          Get Started</i>
        </button>
      </a>
    </div>
    <div class="feature-image-right-col-small">
      <img class="feature-image-small" src="img/Feature_ExecutiveApp.jpg">
    </div>
  </div>
</div>-->

<!-- Feature 6
<div class="section-container">
  <div class="feature-container">
    <div class="feature-text-right-col-small">
      <h3 class="section-title">Esper Agenda Keeps You Connected.</h3>
      <p>With Esper Agenda, quickly draft agendas so everyone knows where they
      are supposed to be. Schedule daily agendas to automatically be sent or
      edit first and then send it along.</p><br>
      <a href="https://chrome.google.com/webstore/detail/esper/jabkchbdomjjlbahjdjemnnghkakfcog">
        <button class="button-primary green index">
          Get Started</i>
        </button>
      </a>
    </div>
    <div class="feature-image-left-col-small">
      <img class="feature-image-small" src="img/Feature_Agenda.png">
    </div>
  </div>
</div>-->


<!-- The Gold Standard -->
<!-- <div class="section-containeri">
  <div class="section-content narrow">
    <h3 class="section-title">THE GOLD STANDARD</h3>
    <p>We're endlessly committed to improving your productivity. Our service
    was designed using the industry's best practices, and we're raising the bar
    even higher by integrating new insights from our users. We not only strive
    to create better software, but also a better human experience.</p>
  </div>
</div> -->

<!--Testimonials-->

<div class="container testimonials">
	<h2 class="users-text" style="margin: 25px;">Our clients love using Esper</h2>
	<div class="row">
		<!--
		<div class="col-sm-4">
			<center><img src="img/janelle_headshot.png"></center>
			<h3><span class="attribution">- Janelle, Code for America</span></h3>
			<center><p><i>“I no longer have to waste time searching through email
      threads for important information because everything I need is all in
      one place!”</i></p></center>
		</div>
			-->
		<div class="col-sm-6">
			<center><img src="img/laurel_headshot.png"></center>
			<h3><span class="attribution">- Laurel, UserVoice</span></h3>
			<center><p><i>“Esper is a must-have tool for any executive assistant
      looking to streamline their workflow for scheduling and calendar
      management.”</i></p></center>
		</div>
		<div class="col-sm-6">
			<center><img src="img/brandi_headshot.png"></center>
			<h3><span class="attribution">- Brandi, Dropbox</span></h3>
			<center><p><i>“It gives the EA the metrics and charts they need to
      develop a narrative about how his/her lead spends their time
      &hellip; Numbers don't lie!”</i></p></center>
		</div>
		<!--
		<div class="col-sm-4">
			<center><img src="img/alex_headshot.png"></center>
			<h3><span class="attribution">- Alex, Kiip</span></h3>
			<center><p><i>“We have 4 offices in 3 different time zones. With Esper I
      can see the schedules of each office head, color coded, in their local
      time all in one place.”</i></p></center>
		</div>
			-->
	</div>
</div>

<div class="section-container dark">
  <div class="section-content narrow">
    <h2 class="splash-text-subheader" style="color:white;font-style:italic">
      Maximize your productivity with Esper.</h2>
    <h2></h2>
    <h2></h2>
    <a href="/time">
      <button class="button-primary green index">
       Try it free
      </button>
    </a>
    <span class="xs-spacer"></span>
    <a href="scheduling">
      <button class="button-tertiary index">
        Want more?
      </button>
    </a>
  </div>
</div>
{% endblock %}
