{% extends "_base.html" %}

{% set BODY_CLASS = "splash-page" %}

{% block main %}
<!-- Splash -->
<div id="chart-splash">
  <div class="container-fluid"><div class="row">

    <!-- Login + CTA -->
    <div class="col-md-5 col-lg-4 cta-signup-container esper-inverse">
    <div class="cta-signup">
      <h1 class="splash-text-header">
        Make time count
      </h1>
      <h2 class="splash-text-subheader">
        Esper analyzes your calendar to help
        you focus on
        <span class="no-break">what matters most.</span>
        Sign up with your calendar
        <span class="no-break">provider to get started.</span>
      </h2>
      <div class="login-buttons">
        <div class="visible-xs-block visible-sm-inline visible-md-block
                    visible-lg-block">
          <a class="btn btn-primary sign-in-btn google-btn"
             href="/login?platform=google">
              <div class="sign-in-icon">
                <i class="fa fa-fw fa-google"></i>
              </div>
              <div class="sign-in-text">Google Account</div>
          </a>
        </div>
        <div class="visible-xs-block visible-sm-inline visible-md-block
                    visible-lg-block">
          <a class="btn btn-primary sign-in-btn exchange-btn"
             href="/login?platform=exchange">
            <div class="sign-in-icon">
              <img src="img/exchange.svg" />
            </div>
            <div class="sign-in-text">Microsoft Exchange</div>
          </a>
        </div>
        <div>
          <a class="btn btn-default sign-in-btn"
             href="/login?platform=nylas">
            Other Provider
          </a>
        </div>
      </div>
    </div></div>

    <!-- Chart goes here -->
    <div id="chart-container" class="col-md-7 col-lg-8">
      <div id="chart-target">
        <img id="chart-img" src="img/chart-splash.svg" />
      </div>
    </div>
  </div></div>
</div>

<!--Prominent Users-->
<div class="container users-container">
  <h2 class="users-text" style="margin: 0px;">Trusted by executives at</h2>
  <a href="http://www.codeforamerica.org/" target="_blank" class="users-logo">
    <img class="default" src="img/codeforamerica_logo.png">
  </a>
  <a href="https://www.dropbox.com/" target="_blank" class="users-logo">
    <img class="default" src="img/dropbox_logo.png">
  </a>
  <a href="https://www.uber.com/" target="_blank" class="users-logo">
    <img class="default" src="img/uber_logo.png">
  </a>
  <span class="no-break-sm">
    <a href="https://law.stanford.edu/" target="_blank" class="users-logo">
      <img class="default" src="img/stanford_law_logo.jpeg">
    </a>
    <a href="http://opengov.com/" target="_blank" class="users-logo">
      <img class="default" src="img/opengov_logo.png">
    </a>
  </span>
</div>

<!-- Feature 1 -->
<div class="section-container gray">
  <div class="feature-container">
    <div class="feature-image right-col">
      <img src="img/stacked-bar.png">
    </div>
    <div class="feature-text left-col">
      <h3 class="section-title" style="margin-top: 0px;">
        Give Meaning to Your Calendar
      </h3>
      <p>With Esper, you can quickly tag your calendar events with objectives,
      milestones, and whatever else matters to you. Then use that data to
      create sleek charts showing how you spent your time.
      </p><br>
      <a href="/time">
        <center><button class="btn btn-primary index">
          Try it free
        </button></center>
      </a>
    </div>
  </div>
</div>

<!-- Built-in Organization
<a name="learn"></a>
<div class="section-container gray">
  <div class="section-content narrow index">
    <h3 class="section-title">BUILT-IN ORGANIZATION</h3>
  </div>
</div>-->

<!-- Feature 2 -->
<div class="section-container white">
  <div class="feature-container">
    <div class="feature-image left-col">
      <img src="img/domain-pie.png">
    </div>
    <div class="feature-text right-col">
      <h3 class="section-title" style="margin-top: 0px;">
        It's Auto-Magical
      </h3>
      <p>Don't feel like tagging your events? Esper can use calendar metadata
      such as event duration, invited guests, and more to automatically
      generate data on how you're spending your time. Just hook up your
      calendar. We'll do the rest.</p><br>
      <a href="/time">
        <center><button class="btn btn-primary index">
          Try it free
        </button></center>
      </a>
    </div>
  </div>
</div>

<!-- Feature 3 -->
<div class="section-container gray">
  <div class="feature-container">
    <div class="right-col feature-image">
      <img src="img/availability-grid.png">
    </div>
    <div class="left-col feature-text">
       <h3 class="section-title" style="margin-top: 0px;">
        Gain Actionable Insights</h3>
      <p>Esper gives you a heads up display for your time that goes
      beyond what your calendar offers. Both assistants and executives
      use Esper to find time sinks, improve scheduling, and get ahead of
      their work week. Or month.
      </p><br>
      <a href="/time">
        <center><button class="btn btn-primary index">
          Try it free
        </button></center>
      </a>
    </div>
  </div>
</div>


<!--Testimonials-->

<div class="container testimonials">
	<h2 class="users-text" style="margin: 25px;">Our clients love using Esper</h2>
	<div class="row">
		<div class="col-sm-12">
			<center><img src="img/brandi_headshot.png"></center>
			<h3><span class="attribution">- Brandi, Dropbox</span></h3>
			<center><p><i>“It gives the EA the metrics and charts they need to
      develop a narrative about how his/her lead spends their time
      &hellip; Numbers don't lie!”</i></p></center>
		</div>
	</div>
</div>

<div class="section-container dark">
  <div class="section-content narrow">
    <h2 class="splash-text-subheader" style="color:white;font-style:italic">
      Maximize your productivity with Esper.</h2>
    <h2></h2>
    <h2></h2>
    <a href="/time">
      <button class="btn btn-primary index">
       Try it free
      </button>
    </a>
  </div>
</div>
{% endblock %}
