{% extends "_app.html" %}

{% set PAGE_NAME = "Now" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/css/now.css" media="screen" />
{% endblock %}

{% block postscripts %}
  <script type="text/javascript" src="/js/react-page-vendor.js"></script>

  {# Optimizely should go after vendor ensure jQuery loaded #}
  {# NB: 2016-05-02 - Disabling Optimizely since no experiment running
    {% include "_optimizely.html" %}
  #}

  {{ super() }}
  <script type="text/javascript" src="/js/now.js"></script>
{% endblock %}
