{% extends "_base.html" %}

{% block title %}Pricing | Esper{% endblock %}

{% block main %}

  <!-- Pricing Plans -->
  <div id="steps" class="pricing-container container">
    <div class="esper-flex-list esper-section">
      <div class="esper-section">
      <div class="sub-plan-box">
        <h4 class="sub-plan-heading">Basic Plan</h4>
        <div class="sub-plan-body">
          <div class="pricing">
            <div class="free-trial">14 Day Free Trial</div>
            <span>$25 / month</span>
          </div>
          <ul class="features">
            <li>1 Calendar</li>
            <li>2 months of calendar history</li>
            <li>Slack integration</li>
            <li>#Hashtag event labeling</li>
            <li>Weekly label reminder emails</li>
          </ul>
        </div>
        <div class="sub-plan-footer">
          <a class="btn btn-success form-control" href="/time">
            Start Your Trial
          </a>
        </div>
      </div>
      </div>

      <div class="esper-section">
      <div class="sub-plan-box">
        <h4 class="sub-plan-heading">Executive Plan</h4>
        <div class="sub-plan-body">
          <div class="pricing">
            <div class="free-trial">14 Day Free Trial</div>
            <span>$100 / month</span>
          </div>
          <ul class="features">
            <li>Unlimited calendars</li>
            <li>5 YEARS of calendar history</li>
            <li>Slack integration</li>
            <li>#Hashtag event labeling</li>
            <li>Weekly label reminder emails</li>
            <li>Advanced reporting</li>
            <li>Time series reports</li>
            <li>Chart downloading</li>
            <li>CSV exports</li>
          </ul>
        </div>
        <div class="sub-plan-footer">
          <a class="btn btn-success form-control" href="/time">
            Start Your Trial
          </a>
        </div>
      </div>
      </div>

      <div class="esper-section">
      <div class="sub-plan-box">
        <h4 class="sub-plan-heading">Enterprise Plan</h4>
        <div class="sub-plan-body">
          <div class="pricing">
            <span>
              <span>$20 / user / month<br>10 users minimum</span>
            </span>
          </div>
          <ul class="features">
            <li>Unlimited calendars</li>
            <li>5 YEARS of calendar history</li>
            <li>Slack integration</li>
            <li>#Hashtag event labeling</li>
            <li>Weekly label reminder emails</li>
            <li>Advanced reporting</li>
            <li>Time series reports</li>
            <li>Chart downloading</li>
            <li>CSV exports</li>
          </ul>
        </div>
        <div class="sub-plan-footer">
          <a class="btn btn-success form-control" href="/time">
            Sign up
          </a>
        </div>
      </div>
      </div>

    </div>
  </div>
{% endblock %}
