{% extends "_base.html" %}

{% block title %}Redeem Code | Esper{% endblock %}

{% block main %}
  <div class="splash-content"
       style="background-image:url(img/splash_jobs.jpg)">
     <div class="splash-text-container">
      <div class="splash-text">
        <h1>Free Month of Esper!</h1>
        <h2>
          Enter your redemption code below and get a free month of Esper!
        </h2>
      </div>

      <!-- Form -->
      <form class="redeem-form section-content">
        <div class="form-group">
          <label class="control-label" for="redeem-code">
            Redemption Code
          </label>
          <div class="input-group">
            <input id="redeem-code" type="text" class="form-control" />
            <div class="input-group-btn">
              <button id="redeem-code-btn" class="btn btn-primary">
                <i class="fa fa-fw fa-check"></i>
                <span class="hidden-xs">
                  Apply
                </span>
              </button>
            </div>
          </div>
        </div>

        <!-- Honeypot to trip up spam bots -->
        <input id="terms-check" type="checkbox" class="hidden" />
      </form>
    </div>
  </div>

  <!-- Extra detilas -->
  <div class="section-container white left-align">
    <div class="section-content verynarrow"
         style="text-align:center">
      <h3>What can you do with Esper?</h3>
      <ul>
        <li>
          Create a report to show your boss of the amount of time you spent
          in meetings (so you can spend less time in them)
        </li>
        <li>
          Conduct a year-end calendar audit&mdash;what did you (or your team)
          do the last quarter or for the whole year?
        </li>
        <li>
          Determine whether you met with colleagues, direct reports,
          and company leadership enough this past quarter
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block postscripts %}
  {{ super() }}
  <script type="text/javascript" src="/js/redeem-code.js"></script>
{% endblock %}
