{% extends "_base.html" %}

{% block title %}Request Demo | Esper{% endblock %}

{% block main %}
  <!-- Overview -->
  <div class="section-container white left-align">
    <div class="section-content verynarrow"
         style="text-align:center">
      <h3>Request a Demo</h3>
      <p>
        Let us show you how Esper can work for you and your organization.
        Enter your email address below and we'll get back to you shortly.
      </p>
    </div>
  </div>

  <!-- Form -->
  <form id="mc_embed_signup" class="signup-form section-content">
    <div id="signup-success" class="alert alert-success text-center hidden">
      Request Sent
    </div>
    <div id="signup-fail" class="alert alert-danger text-center hidden">
      That was an error sending your request. Please try
      <a href="/contact">emailing us</a> directly instead.
    </div>

    <div class="form-group">
      <label class="control-label" for="signup-email">Email Address</label>
      <div class="input-group">
        <input id="signup-email" type="text" class="form-control" />
        <div class="input-group-btn">
          <button id="signup-email-btn" class="btn btn-primary">
            <i class="fa fa-fw fa-send"></i>
            <span class="hidden-xs">
              Request
            </span>
          </button>
        </div>
      </div>
    </div>

    <!-- Honeypot to trip up spam bots -->
    <input id="terms-check" type="checkbox" class="hidden" />
  </form>
{% endblock %}

{% block postscripts %}
  {{ super() }}
  <script type="text/javascript" src="/js/request-demo.js"></script>
{% endblock %}
