{% extends "_base.html" %}

{% block title %}Sign Up | Esper{% endblock %}

{% block main %}
  <div class="splash-content splash-purple fullscreen">
    <div class="splash-navbar clearfix"></div>
    <div class="container">
      <h2>Thank you for your interest!</h2><br>
      <div>
        We've put you on our mailing list and will contact you as soon as we can
        support your mail client.<br /><br />
        <b>Please confirm through the email we just sent you that this is
        okay.</b><br /><br />

        In the mean time, feel free to visit the rest of our site or email us at
        <b><a href="mailto:support@esper.com">support@esper.com</a></b> if you
        have any questions.<br /><br />


        Yours gratefully,<br />
        Team Esper
      </div>

    </div>
  </div>
{% endblock %}

