{% extends "_base.html" %}

{% set BODY_CLASS = "slack-page" %}

{% block main %}
<div class="splash esper-inverse">
  <div class="container-fluid"><div class="row">

    <!-- Sign-in -->
    <div class="col-md-7 col-lg-6 cta-signup-container">
    <div class="cta-signup">
      <h1 class="splash-text-header">
        Use Slack with Esper
      </h1>
      <h2 class="splash-text-subheader">
        Never have a bad meeting again! Esper helps you rate the meeting you’re currently in and
        <span class="no-break">take notes within Slack.</span>
        Ideal for executives and their executive assistants.
      </h2>
      <div class="login-buttons">
        <div class="visible-xs-block visible-sm-inline visible-md-block
                    visible-lg-block">
          <div class="btn btn-primary sign-in-btn slack-btn"
               onClick="slackSignIn();">
            <div class="sign-in-icon">
              <i class="fa fa-fw fa-slack"></i>
            </div>
            <div class="sign-in-text">Sign in with Slack</div>
          </div>
        </div>
      </div>
    </div></div>

    <!-- GIF goes here -->
    <div class="col-md-5 col-lg-6" style="height: 400px; display: flex; flex-direction: column; justify-content: center;">
      <img src="img/TimeStats_gif.gif" style="max-width: 100%;"/>
    </div>
  </div></div>
</div>

<div class="section-container gray">
  <div class="feature-grid">

    <!-- Feature 1 -->
    <div class="row">
      <div class="left-col">
        <div class="feature-image">
          <img src="img/Feature_ExecutiveApp.jpg">
        </div>
        <div class="feature-text">
          <h3 class="section-title">
            Get Notified Before Meetings
          </h3>
        </div>
      </div>

      <!-- Feature 2 -->
      <div class="right-col">
        <div class="feature-image">
          <img src="img/Feature_TaskNotes.png">
        </div>
        <div class="feature-text">
          <h3 class="section-title">
            Take Notes
          </h3>
        </div>
      </div>
    </div>

    <!-- Feature 3 -->
    <div class="row">
      <div class="left-col">
        <div class="feature-image">
          <img src="img/calendar-percentages.png">
        </div>
        <div class="feature-text">
          <h3 class="section-title">
            Rate Your Meetings
          </h3>
        </div>
      </div>

      <!-- Feature 4 -->
      <div class="right-col">
        <div class="feature-image">
          <img src="img/Feature_Agenda.png">
        </div>
        <div class="feature-text">
          <h3 class="section-title">
            Daily Email Summary
          </h3>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="section-container dark">
  <div class="section-content narrow">
    <h2 class="splash-text-subheader" style="color:white;font-style:italic">
      Never have a bad meeting again.</h2>
    <h2></h2>
    <h2></h2>
    <button class="btn btn-primary index" onClick="slackSignIn();">
      Sign in with Slack
    </button>
  </div>
</div>
{% endblock %}
